{% load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta
      content="gluten-free, nutritious, coeliac diseases, diabetes, malnutrition, and bread"
      name="keywords"
    />
    <meta
      content="food manufacturing company based in Uasin Gishu, Kenya that produces gluten-free flours and bread. Their products are gluten-free and highly nutritious, best for management of chronic diseases particularly coeliac diseases, diabetes and malnutrition"
      name="description"
    />

    {%if title%}
    <title>GavoFoods-{{title}}</title>
    {% else%}
    <title>GavoFoods</title>
    {%endif%}

    <!-- favi -->
    <link
      rel="shortcut icon"
      href="{% static 'images/favicon/favicon.png' %}"
      type="image/x-icon"
    />

    <!-- Google Font -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,400|Nunito:600,700"
      rel="stylesheet"
    />

    <!-- CSS Libraries -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
      rel="stylesheet"
    />
    <link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet" />
    <link
      href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}"
      rel="stylesheet"
    />
    <link href="{% static 'flaticon/font/flaticon.css' %}" rel="stylesheet" />
    <link
      href="{% static 'lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css' %}"
      rel="stylesheet"
    />

    <!-- Template Stylesheet -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
    <style>
      .partner-logos {
        display: flex;
        flex-wrap: wrap;
      }

      .partner-logos .order-1 {
        order: -1;
      }
    </style>
  </head>

  <body>
    <!-- Nav Bar Start -->
    <div class="navbar navbar-expand-lg bg-light navbar-light">
      <div class="container-fluid">
        <div id="logo" class="one_quarter first">
          <a href="{% url 'index-page' %}" class="navbar-brand"
            ><img src="{{ cdn_url }}images/logogavo.webp" alt="GavoFoods"
          /></a>
        </div>
        <button
          type="button"
          class="navbar-toggler"
          data-toggle="collapse"
          data-target="#navbarCollapse"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div
          class="collapse navbar-collapse justify-content-between"
          id="navbarCollapse"
        >
          <div class="navbar-nav ml-auto">
            <a href="{% url 'index-page' %}" class="nav-item nav-link">Home</a>
            <div class="nav-item dropdown">
              <a
                href="javascript:void(0)"
                class="nav-link dropdown-toggle"
                data-toggle="dropdown"
                >About</a
              >
              <div class="dropdown-menu">
                <a href="{% url 'about' %}" class="dropdown-item active"
                  >About Us</a
                >
                <a href="{% url 'team' %}" class="dropdown-item">Our Team</a>
              </div>
            </div>
            <a
              href="https://shop.gavofoods.co.ke/shop"
              class="nav-item nav-link"
              >Products</a
            >
            <a href="{% url 'services' %}" class="nav-item nav-link"
              >Services</a
            >
            <a href="{% url 'gallery' %}" class="nav-item nav-link">Gallery</a>
            <a href="{% url 'careers' %}" class="nav-item nav-link">Careers</a>

            <a href="{% url 'contact' %}" class="nav-item nav-link">Contact</a>
            <a href="{% url 'blog' %}" class="nav-item nav-link active">Blog</a>
            <a
              href="https://shop.gavofoods.co.ke/cart/"
              class="nav-item nav-link"
              ><i
                class="fa-solid fa-bag-shopping fa-lg"
                style="color: #fdd700"
              ></i>
              Cart</a
            >
          </div>
        </div>
      </div>
    </div>
    <!-- Nav Bar End -->

    <!-- Page Header Start -->
    <div class="blog-page-header">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h2>Our Blog</h2>
          </div>
          <div class="col-12">
            <a href="{% url 'index-page' %}">Home</a>
            <a href="">Blog</a>
          </div>
        </div>
      </div>
    </div>
    <!-- Page Header End -->
    {% block content %} {% endblock content %}
    <!-- Footer Start -->
    <div class="footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-5">
            <div class="row">
              <div class="col-md-7">
                <div class="footer-contact">
                  <h2>Our Address</h2>
                  <p>
                    <i class="fa fa-map-marker-alt"></i> Uasin Gishu, 30100,
                    Kenya
                  </p>
                  <!-- <a href="tel:254786338776"><p><i class="fa fa-phone-alt"></i> + 254 786 338 776</p></a> -->
                  <a href="tel:+254702948854"
                    ><p><i class="fa fa-phone-alt"></i>+254 702 948 854</p></a
                  >
                  <a href="mailto:info@gavofoods.co.ke"
                    ><p>
                      <i class="fa fa-envelope"></i>info@gavofoods.co.ke
                    </p></a
                  >
                  <div class="footer-social">
                    <a href="https://twitter.com/gavofoodsltd" target="_blank"
                      ><i class="fab fa-twitter"></i
                    ></a>
                    <a
                      href="https://web.facebook.com/Gavopum-G-Free-International-104359621901664"
                      target="_blank"
                      ><i class="fab fa-facebook-f"></i
                    ></a>
                    <a href=""><i class="fab fa-youtube"></i></a>
                    <a href=""><i class="fab fa-instagram"></i></a>
                    <a href=""><i class="fab fa-linkedin-in"></i></a>
                  </div>
                </div>
              </div>
              <div class="col-md-5">
                <div class="footer-link">
                  <h2>Quick Links</h2>
                  <a href="https://shop.gavofoods.co.ke">Shop</a>
                  <a href="{% url 'contact' %}">Contact</a>
                  <a href="{% url 'blog' %}">Blog</a>
                  <!-- <a href="">Help</a> -->
                  <!-- <a href="">FQAs</a> -->
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-5">
            <div class="footer-newsletter">
              <h2>Newsletter</h2>
              <p>
                Subscribe to our weekly news letter about food and health
                nutrition information and offers.
              </p>
              <div class="form">
                <input class="form-control" placeholder="Enter your email" />
                <button class="btn custom-btn">Submit</button>
              </div>
            </div>
          </div>
          <div class="col-lg-2">
            <div class="footer-newsletter partner-logos">
              <h2>Our Partners</h2>
              <a
                href="https://www.eldohub.co.ke"
                target="_blank"
                class="footer-brand"
                ><img
                  src="https://cdn.gavofoods.co.ke/static/images/branding.png"
                  alt="eldohub"
                />
              </a>
              <a
                href="https://www.innovationagency.go.ke/"
                target="_blank"
                class="footer-brand"
                ><img
                  src="https://cdn.gavofoods.co.ke/static/images/img/partners/kenialogo2.png"
                  alt="GavoFoods"
                />
              </a>
              <a
                href="https://www.must.ac.ke"
                target="_blank"
                class="footer-brand"
                ><img
                  src="https://cdn.gavofoods.co.ke/static/images/img/partners/logo4_png_version.fw_.png"
                  alt="GavoFoods"
                />
              </a>
              <a href="https://msea.go.ke/" target="_blank" class="footer-brand"
                ><img
                  src="https://cdn.gavofoods.co.ke/static/images/img/partners/msea-logo.png"
                  alt="GavoFoods"
                />
              </a>
              <a
                href="https://plusfarmkenya.co.ke/"
                target="_blank"
                class="footer-brand"
                ><img
                  src="https://cdn.gavofoods.co.ke/static/images/img/partners/PlusFarm-Logo-medium-1536x587.png.webp"
                  alt="GavoFoods"
                />
              </a>
              <a
                href="https://kepsa.or.ke/"
                target="_blank"
                class="footer-brand"
                ><img
                  src="https://cdn.gavofoods.co.ke/static/images/img/partners/KEPSA%20LOGO%20for%20website.png"
                  alt="GavoFoods"
                />
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="copyright">
        <div class="container">
          <p>
            Copyright &copy; 2022
            <a href="{% url 'index-page' %}">GavoFoods</a>, All Rights Reserved.
          </p>
        </div>
      </div>
    </div>
    <!-- Footer End -->

    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

    <!-- JavaScript Libraries -->
    <script
      type="text/javascript"
      src="{% static 'js/jquery.min.js' %}"
    ></script>
    <script
      type="text/javascript"
      src="{% static 'js/bootstrap.min.js' %}"
    ></script>
    <script src="{% static 'lib/easing/easing.min.js' %}"></script>
    <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'lib/tempusdominus/js/moment.min.js' %}"></script>
    <script src="{% static 'lib/tempusdominus/js/moment-timezone.min.js' %}"></script>
    <script src="{% static 'lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js' %}"></script>

    <!-- Contact Javascript File -->
    <script src="{% static 'mail/jqBootstrapValidation.min.js' %}"></script>
    <script src="{% static 'mail/contact.js' %}"></script>

    <!-- Template Javascript -->
    <script src="{% static 'js/main.js' %}"></script>
    <script
      src="https://kit.fontawesome.com/c959104830.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
