{% extends 'Blog/base.html' %}
{% load static %}

{% block content %}     
        
        
        <!-- Blog Start -->
        <div class="blog">
            <div class="container">
                <div class="row">
                        <div class="col-md-8">
                            <div class="section-header text-center">
                                <p>Food Blog</p>
                                <h2>Latest From Our Blog</h2>
                            </div>
                            {% for post in page_obj %}
                            <div class="col-md-12">
                                <div class="blog-item">
                                    <div class="blog-img">
                                        <img src="{{post.image.url}}"alt="img">
                                    </div>
                                    <div class="blog-content">
                                        <h2 class="blog-title">{{post.title}}</h2>
                                        <div class="blog-meta">
                                            <p><i class="far fa-user"></i>{{post.author.username}}</p>
                                            <p><i class="far fa-calendar-alt"></i>{{post.date}}</p>
                                            <p><i class="fas fa-eye"></i>Views: {{post.current_hit_count }}</p>
                                            <p><i class="far fa-comments"></i>{{post.comment_count}}</p>
                                        </div>
                                        <div class="blog-text">
                                            <p>
                                                {{post.content|safe|truncatechars:200 }}
                                            </p>
                                            <a class="btn custom-btn" href="{% url 'post-detail' post.id %}">Read More</a>
                                            {% if user.is_authenticated and user.is_superuser %}
                                            <a class="btn custom-btn" href="{% url 'post-update' post.id %}">Update</a>
                                            <a class="btn custom-btn" href="{% url 'post-delete' post.id %}">Delete</a>
                                            {%endif%}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            <div class="row">
                                <div class="col-12">
                                    <ul class="pagination justify-content-center">
                                        {% if page_obj.has_previous %}
                                            <li class="page-item">
                                            <a href="?page={{ page_obj.previous_page_number }}" class="page-link">Previous</a>
                                            </li>
                                            <li class="item active">
                                            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                                                {{ page_obj.previous_page_number }}
                                            </a>
                                            </li>
                                        {% else %}
                                            <li class="page-item disabled">
                                            <span class="page-link">Previous</span>
                                            </li>
                                        {% endif %}

                                        <li class="page-item">
                                            <span class="page-link">{{ page_obj.number }}</span>
                                        </li>

                                        {% if page_obj.has_next %}
                                            <li class="page-item">
                                            <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                                                {{ page_obj.next_page_number }}
                                            </a>
                                            </li>
                                            <li class="page-item ">
                                            <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                                            </li>
                                        {% else %}
                                            <li class="page-item disabled">
                                            <span class="page-link">Next</span>
                                            </li>
                                        {% endif %}
                                    </ul> 
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 single">
                            <div class="sidebar">
                                <div class="sidebar-widget">
                                    <div class="search-widget">
                                        <form>
                                            <input class="form-control" type="text" placeholder="Search Keyword">
                                            <button class="btn"><i class="fa fa-search"></i></button>
                                        </form>
                                    </div>
                                </div>
                                <div class="sidebar-widget">
                                    <h2 class="widget-title">Recent Post</h2>
                                    <div class="recent-post">
                                    {% for post in recent_posts %}
                                        <div class="post-item">
                                            <div class="post-img">
                                                <img src="{{post.image.url}}" />
                                            </div>
                                            <div class="post-text">
                                                <a href="{% url 'post-detail' post.id %}">{{post.title}}</a>
                                                <div class="post-meta">
                                                <p>By<a href="">{{post.author.username}}</a></p>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                    </div>
                                </div>



                                <div class="sidebar-widget">
                                    <div class="tab-post">
                                        <ul class="nav nav-pills nav-justified">
                                            <li class="nav-item">
                                                <a class="nav-link active" data-toggle="pill" href="#featured">Featured</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" data-toggle="pill" href="#popular">Popular</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" data-toggle="pill" href="#latest">Latest</a>
                                            </li>
                                        </ul>

                                        <div class="tab-content">
                                            <div id="featured" class="container tab-pane active">
                                            {% for post in featured_posts%}
                                                <div class="post-item">
                                                    <div class="post-img">
                                                        <img src="{{post.image.url}}" />
                                                    </div>
                                                    <div class="post-text">
                                                        <a href="{% url 'post-detail' post.id %}">{{post.title}}</a>
                                                        <div class="post-meta">
                                                        <p>By<a href="">{{post.author.username}}</a></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor%}
                                            </div>
                                            <div id="popular" class="container tab-pane fade">
                                            {% for post in popular_posts%}
                                                <div class="post-item">
                                                    <div class="post-img">
                                                        <img src="{{post.image.url}}" />
                                                    </div>
                                                    <div class="post-text">
                                                        <a href="{% url 'post-detail' post.id %}">{{post.title}}</a>
                                                        <div class="post-meta">
                                                        <p>By<a href="">{{post.author.username}}</a></p>
                                                        </div>
                                                    </div>
                                                </div>
                                                {% endfor %}
                                            </div>
                                            <div id="latest" class="container tab-pane fade">
                                            {% for post in latest_posts%}
                                                <div class="post-item">
                                                    <div class="post-img">
                                                        <img src="{{post.image.url}}" />
                                                    </div>
                                                    <div class="post-text">
                                                        <a href="{% url 'post-detail' post.id %}">{{post.title}}</a>
                                                        <div class="post-meta">
                                                        <p>By<a href="">{{post.author.username}}</a></p>
                                                        </div>
                                                    </div>
                                                </div>
                                                {% endfor%}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="sidebar-widget">
                                    <h2 class="widget-title">About our Blog</h2>
                                    <div class="text-widget">
                                        <p>
                                            Our blog network brings together news, opinion, and perspectives from our staff, our journal Editors, and many guest bloggers. All our blogs aim to highlight the best in open access research, report on news in different fields, and offer insights into publishing, as well as discuss the day-to-day work and challenges faced by researchers today.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>                  
                </div>
                
            </div>
        </div>
        <!-- Blog End -->
{% endblock content %}