{% extends 'Blog/base.html' %}
{% load static %}

{% block content %} 


        <!-- Single Post Start-->
        <div class="single">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="single-content">
                             <img src={{post.image.url}} alt="">
                            <h2>{{post.title}}</h2>
                            <p>
                                {{post.content|safe}}
                            </p>
                            
                        </div>
                        <div class="single-bio">
                            <div class="single-bio-img">
                                <img src="https://cdn.gavofoods.co.ke/static/images/default.png" />
                            </div>
                            <div class="single-bio-text">
                                <h3>{{post.author.username}}</h3>
                                <p>
                                    It was a pleasure authoring this post. I love researching and writing about nutrition. Enjoy reading my post!
                                </p>
                            </div>
                        </div>

                        <div class="single-related">
                            <h2>Recent Post</h2>
                            <div class="owl-carousel related-slider">
                            {% for post in recent_posts %}
                                <div class="post-item">
                                    <div class="post-img">
                                        <img src={{post.image.url}} />
                                    </div>
                                    <div class="post-text">
                                        <a href="{% url 'post-detail' post.id %}">{{post.title}}</a>
                                        <div class="post-meta">
                                            <p>By<a href="">Admin</a></p>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                            </div>
                        </div>


                        <div class="comment-form">
                            <h2>Leave a comment</h2>
                            <form>
                                <div class="form-group">
                                    <label for="name">Name *</label>
                                    <input type="text" class="form-control" id="name">
                                </div>
                                <div class="form-group">
                                    <label for="email">Email *</label>
                                    <input type="email" class="form-control" id="email">
                                </div>
                                <div class="form-group">
                                    <label for="website">Website</label>
                                    <input type="url" class="form-control" id="website">
                                </div>

                                <div class="form-group">
                                    <label for="message">Message *</label>
                                    <textarea id="message" cols="30" rows="5" class="form-control"></textarea>
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="Post Comment" class="btn custom-btn">
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="sidebar">
                                <div class="sidebar-widget">
                                    <div class="tab-post">
                                        <ul class="nav nav-pills nav-justified">
                                            <li class="nav-item">
                                                <a class="nav-link active" data-toggle="pill" href="#featured">Featured</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" data-toggle="pill" href="#popular">Popular</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" data-toggle="pill" href="#latest">Latest</a>
                                            </li>
                                        </ul>

                                        <div class="tab-content">
                                            <div id="featured" class="container tab-pane active">
                                            {% for post in featured_posts%}
                                                <div class="post-item">
                                                    <div class="post-img">
                                                        <img src="{{post.image.url}}" />
                                                    </div>
                                                    <div class="post-text">
                                                        <a href="">{{post.title}}</a>
                                                        <div class="post-meta">
                                                        <p>By<a href="">{{post.author.username}}</a></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor%}
                                            </div>
                                            <div id="popular" class="container tab-pane fade">
                                            {% for post in popular_posts%}
                                                <div class="post-item">
                                                    <div class="post-img">
                                                        <img src="{{post.image.url}}" />
                                                    </div>
                                                    <div class="post-text">
                                                        <a href="">{{post.title}}</a>
                                                        <div class="post-meta">
                                                        <p>By<a href="">{{post.author.username}}</a></p>
                                                        </div>
                                                    </div>
                                                </div>
                                                {% endfor %}
                                            </div>
                                            <div id="latest" class="container tab-pane fade">
                                            {% for post in latest_posts%}
                                                <div class="post-item">
                                                    <div class="post-img">
                                                        <img src="{{post.image.url}}" />
                                                    </div>
                                                    <div class="post-text">
                                                        <a href="">{{post.title}}</a>
                                                        <div class="post-meta">
                                                        <p>By<a href="">{{post.author.username}}</a></p>
                                                        </div>
                                                    </div>
                                                </div>
                                                {% endfor%}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            <div class="sidebar-widget">
                                <h2 class="widget-title">About our Blog</h2>
                                <div class="text-widget">
                                    <p>
                                        Our blog network brings together news, opinion, and perspectives from our staff, our journal Editors, and many guest bloggers. All our blogs aim to highlight the best in open access research, report on news in different fields, and offer insights into publishing, as well as discuss the day-to-day work and challenges faced by researchers today.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Single Post End-->   

 {% endblock content %}