{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  {%if title%}
  <title>GavoFoods-{{title}}</title>
  {% else%}
  <title>GavoFoods</title>
  {%endif%}

  <!-- favicon -->
  <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
  <!-- Bootstrap core CSS -->

  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  <!-- Material Design Bootstrap -->
  <link href="{% static 'css/mdb.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/product_detail.css' %}" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <header>

    <!-- Navbar -->
    <div class="navbar navbar-expand-lg bg-light navbar-light">
      <div class="container-fluid">
        <div id="logo" class="one_quarter first">
          <a href="{% url 'index-page' %}" class="navbar-brand"><img src="https://cdn.gavofoods.co.ke/static/images/logogavo.webp"
              alt="GavoFoods"></a>
          <!-- <p class="gfree">Nutritious & Gluten-free</p> -->
        </div>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
          <div class="navbar-nav ml-auto">
            <a href="{% url 'index-page' %}" class="nav-item nav-link active">Home</a>
            <a href="{% url 'about' %}" class="nav-item nav-link">About us</a>
            <div class="nav-item dropdown">
                <a href="https://shop.gavofoods.co.ke" class="nav-item nav-link" >Products</a>
                <a href="{% url 'careers' %}" class="nav-item nav-link">Careers</a>
                    <!-- class="nav-link dropdown-toggle" data-toggle="dropdown" -->
                <!-- <div class="dropdown-menu">
                    <a href="{% url 'flour-products' %}" class="dropdown-item">Flours</a>
                    <a href="{% url 'baked-products' %}" class="dropdown-item">Bread&Snacks</a>
                </div> -->
            </div>
            <a href="{% url 'cafe' %}" class="nav-item nav-link">Our Cafe</a>
            <a href="{% url 'contact' %}" class="nav-item nav-link">Contact</a>
            <a href="{% url 'blog' %}" class="nav-item nav-link">Blogs</a>
            <!-- {% if user.is_authenticated %}
            <a href="{% url 'logout' %}" class="nav-item nav-link">Logout</a>
            {% else %}
            <a href="{% url 'signup' %}" class="nav-item nav-link">Register</a>
            <a href="{% url 'login' %}" class="nav-item nav-link">Login</a>
            {% endif %} -->
        </div>
        </div>
      </div>
    </div>

  </header>
  <!-- Navigation -->

  <!-- Main Container -->
  <div class="container mt-5 pt-3">

    <!-- Section: Product detail -->
    <section id="productDetails" class="pb-5">

      <!-- News card -->
      <div class="card mt-5">

        <div class="row mt-5">

          <div class="col-lg-6">

            <!-- Carousel Wrapper -->
            <div id="carousel-thumb" class="carousel slide carousel-fade carousel-thumbnails" data-ride="carousel">

              <!-- Slides -->
              <div class="carousel-inner text-center text-md-left" role="listbox">

                <div class="carousel-item active">

                  <img src={{object.image.url}} alt="" class="img-fluid">

                </div>


              </div>
              <!-- Slides -->


            </div>
            <!-- Carousel Wrapper -->

          </div>

          <div class="col-lg-5 mr-3 text-center text-md-left">

            <h2
              class="h2-responsive text-center text-md-left product-name font-weight-bold dark-grey-text mb-1 ml-xl-0 ml-4">

              <strong>{{object.name}}</strong>

            </h2>

            <span class="badge badge-danger product mb-4 ml-xl-0 ml-4">Out of stock</span>

            <h3 class="h3-responsive text-center text-md-left mb-5 ml-xl-0 ml-4">

              <span class="red-text font-weight-bold">

                <strong>Ksh.__</strong>

              </span>

            </h3>

            <!-- Accordion wrapper -->
            <div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="true">

              <!-- Accordion card -->
              <div class="card">

                <!-- Card header -->
                <div class="card-header" role="tab" id="headingOne1">

                  <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne1" aria-expanded="true"
                    aria-controls="collapseOne1">

                    <h5 class="mb-0">

                      Description

                      <i class="fas fa-angle-down rotate-icon"></i>

                    </h5>

                  </a>

                </div>

                <!-- Card body -->
                <div id="collapseOne1" class="collapse show" role="tabpanel" aria-labelledby="headingOne1"
                  data-parent="#accordionEx">

                  <div class="card-body">{{object.description}}

                  </div>

                </div>

              </div>
              <!-- Accordion card -->

              <!-- Accordion card -->
              <div class="card">

                <!-- Card header -->
                <div class="card-header" role="tab" id="headingTwo2">

                  <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseTwo2"
                    aria-expanded="false" aria-controls="collapseTwo2">

                    <h5 class="mb-0">Raw materials

                      <i class="fas fa-angle-down rotate-icon"></i>

                    </h5>

                  </a>

                </div>

                <!-- Card body -->
                <div id="collapseTwo2" class="collapse" role="tabpanel" aria-labelledby="headingTwo2"
                  data-parent="#accordionEx">

                  <div class="card-body">

                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                    wolf moon officia aute,

                    non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf
                    moon

                    tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.

                  </div>

                </div>

              </div>
              <!-- Accordion card -->

              <!-- Accordion card -->
              <div class="card">

                <!-- Card header -->
                <div class="card-header" role="tab" id="headingThree3">

                  <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseThree3"
                    aria-expanded="false" aria-controls="collapseThree3">

                    <h5 class="mb-0">Delivery
                      <i class="fas fa-angle-down rotate-icon"></i>

                    </h5>

                  </a>

                </div>

                <!-- Card body -->
                <div id="collapseThree3" class="collapse" role="tabpanel" aria-labelledby="headingThree3"
                  data-parent="#accordionEx">

                  <div class="card-body">

                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                    wolf moon officia aute,

                    non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf
                    moon

                    tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.

                  </div>

                </div>

              </div>
              <!-- Accordion card -->

            </div>
            <!-- Accordion wrapper -->

            <!-- Add to Cart -->
            <section>

              <div class="mt-5">

                <div class="row mt-3 mb-4">

                  <div class="col-md-12 text-center text-md-left text-md-right">

                    <button class="btn btn-primary btn-rounded">

                      <i class="fas fa-cart-plus mr-2" aria-hidden="true"></i> Add to cart</button>

                  </div>

                </div>

              </div>

            </section>
            <!-- Add to Cart -->

          </div>

        </div>

      </div>

    </section>
  </div>
  <!-- Main Container -->
  <!-- Footer -->
  <footer class="page-footer text-center text-md-left stylish-color pt-0">
    <div class="top-pink-footer">
      <div class="container">

        <!-- Grid row -->
        <div class="row py-4 d-flex align-items-center">

          <!-- Grid column -->
          <div class="col-md-6 col-lg-5 text-center text-md-left mb-md-0">
            <h6 class="mb-4 mb-md-0 white-text">Get connected with us on social networks!</h6>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-6 col-lg-7 text-center text-md-right">
            <!-- Facebook -->
            <a href="https://web.facebook.com/Gavopum-G-Free-International-104359621901664" target="_blank"
              class="p-2 m-2 fa-lg fb-ic ml-0">
              <i class="fab fa-facebook-f white-text mr-lg-4"> </i>
            </a>
            <!-- Twitter -->
            <a href="https://twitter.com/gavofoodsltd" target="_blank" class="p-2 m-2 fa-lg tw-ic">
              <i class="fab fa-twitter white-text mr-lg-4"> </i>
            </a>
            <!-- Linkedin -->
            <a target="_blank" class="p-2 m-2 fa-lg li-ic">
              <i class="fab fa-linkedin-in white-text mr-lg-4"> </i>
            </a>
            <!-- Instagram -->
            <a target="_blank" class="p-2 m-2 fa-lg ins-ic">
              <i class="fab fa-instagram white-text mr-lg-4"> </i>
            </a>
          </div>
          <!-- Grid column -->

        </div>
        <!-- Grid row -->

      </div>
    </div>
    <!-- Footer Links -->
    <div class="container mt-5 mb-4 text-center text-md-left">
      <div class="row mt-3">

        <!-- First column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mb-5">
          <h6 class="spacing font-weight-bold">
            <strong>Gavopum GFI</strong>
          </h6>
          <hr class="green darken-4 accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 100px;">
          <p>Gavopum G Free International is Food Manufacturing Company based in Uasin Gishu, Kenya.</p>
        </div>
        <!-- First column -->

        <!-- Second column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-5">
          <h6 class="spacing font-weight-bold">
            <strong>Products</strong>
          </h6>
          <hr class="green darken-4 accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <a href="#!">Gavopum Flours</a>
          </p>
          <p>
            <a href="#!">Gavopum Bread</a>
          </p>
          <p>
            <a href="#!">Cafe</a>
          </p>
        </div>
        <!-- Second column -->


        <!-- social icons-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <a href="https://api.whatsapp.com/send?phone=25472 &text=Hello" class="float" target="_blank">
          <i class="fa fa-whatsapp my-float"></i>
        </a>
        <!-- social icons-->

        <!-- Third column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-5">
          <h6 class="spacing font-weight-bold">
            <strong>Useful links</strong>
          </h6>
          <hr class="green darken-4 accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <a href="#!">Your Account</a>
          </p>
          <p>
            <a href="#!">Become an Affiliate</a>
          </p>
          <p>
            <a href="#!">Help</a>
          </p>
        </div>
        <!-- Third column -->

        <!-- Fourth column -->
        <div class="col-md-4 col-lg-3 col-xl-3">
          <h6 class="spacing font-weight-bold">
            <strong>Contact</strong>
          </h6>
          <hr class="green darken-2 accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <i class="fas fa-home mr-3"></i> Uasin Gishu, 30100, Kenya
          </p>
          <p>
            <i class="fas fa-envelope mr-3"></i> info@gavofoods.co.ke
          </p>
          <p>
            <i class="fas fa-phone mr-3"></i> + 254 115 338 757
          </p>
          <p>
            <i class="fas fa-phone mr-3"></i> + 254 786 338 776
          </p>
        </div>
        <!-- Fourth column -->

      </div>
    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">
      <div class="container-fluid">
        © <span id="copyright-year"></span> Copyright: <a href="{% url 'index-page' %}" target="_blank"> GavoFoods</a>
      </div>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->

  <!-- SCRIPTS -->
  <script>
    document.querySelector("#copyright-year").innerText =
      new Date().getFullYear();
  </script>
  <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="{% static 'js/popper.min.js' %}"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="{% static 'js/mdb.min.js' %}"></script>
  <!-- SCRIPTS -->
  <script type="text/javascript">
    /* WOW.js init */
    new WOW().init();
    // SideNav Button Initialization

    $(".button-collapse").sideNav();
    // SideNav Scrollbar Initialization

    var sideNavScrollbar = document.querySelector('.custom-scrollbar');
    Ps.initialize(sideNavScrollbar);
    // Tooltips Initialization
    $(function () {

      $('[data-toggle="tooltip"]').tooltip()
    });
    // Material Select Initialization
    $(document).ready(function () {

      $('.mdb-select').material_select();
    });

  </script>

</body>

</html>