{% load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta
      content="Web Developer Internship, Django, HTML, CSS, JavaScript, Front-end development, Back-end development, Coding, User experience, User interface, Hands-on experience, Fast-paced environment, Dynamic environment, Self-starter, Marketing Manager, Gluten-free food, Marketing, Brand awareness, Sales growth, Market research, Product development, Target audience, Digital marketing, Social media, Print marketing, Advertising, Communication skills, Analytical skills, Creative thinking, Leadership, Teamwork"
      name="keywords"
    />
    <meta
      content="Join Gavofoods Limited's team with our Web Developer Internship and Marketing Manager roles. Our Web Developer Internship offers hands-on experience in Django, HTML, CSS, and JavaScript. As our Marketing Manager, you'll build brand awareness and increase sales through creative marketing strategies. Join our leading gluten-free food company today."
      name="description"
    />

    {%if title%}
    <title>{{title}} | Gavofoods</title>
    {% else%}
    <title>Gavofoods</title>
    {%endif%}

    <!-- favicon -->
    <link
      rel="shortcut icon"
      href="{% static 'img/favicon.ico' %}"
      type="image/x-icon"
    />

    <!-- Google Font -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,400|Nunito:600,700"
      rel="stylesheet"
    />

    <!-- CSS Libraries -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />
    <!-- <link href="{% static 'css/jobs.css' %}" rel="stylesheet" /> -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
      rel="stylesheet"
    />
    <link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet" />
    <link
      href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}"
      rel="stylesheet"
    />
    <link href="{% static 'flaticon/font/flaticon.css' %}" rel="stylesheet" />
    <link
      href="{% static 'lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css' %}"
      rel="stylesheet"
    />

    <!-- Template Stylesheet -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
    <link href="{% static 'css/about.css' %}" rel="stylesheet" />
    <link href="{% static 'css/careers.css' %}" rel="stylesheet" />
    <style>
      .partner-logos {
        display: flex;
        flex-wrap: wrap;
      }

      .partner-logos .order-1 {
        order: -1;
      }
    </style>
    <style>
      /* @import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap'); */

      /* body{
            min-height: 100vh;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          background: #f2f2f2;
      }
      h1{
        color: #1c68b3 ;
        font-size:clamp(2.5rem, 10vw, 5rem);
        font-family: 'Parisienne', cursive;
      } */
      .card-pink {
        border-radius: 6px;
        border-bottom: 4px solid #83b828 !important;
      }
      .card-blue {
        border-radius: 6px;
        border-bottom: 4px solid #750922 !important;
      }

      .col .card img {
        aspect-ratio: 1 / 1;
        object-fit: cover;
      }
      .card-body {
        padding: 1rem 1.5rem;
      }
      .card-body p {
        color: #4b5563;
      }
      .card-blue svg {
        fill: #750922;
      }
      .card-pink svg {
        fill: #83b828;
      }
      .card-blue .card-footer p {
        color: #750922;
      }
      .card-pink .card-footer p {
        color: #83b828;
      }
      .card-shape {
        position: relative;
      }
      .custom-shape-divider-bottom-1634717805 {
        position: absolute;
        bottom: -1px;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
        transform: rotate(180deg);
      }

      .custom-shape-divider-bottom-1634717805 svg {
        position: relative;
        display: block;
        width: 100%;
        height: 50px;
      }

      .custom-shape-divider-bottom-1634717805 .shape-fill {
        fill: #ffffff;
      }
    </style>
  </head>

  <body>
    <!-- Nav Bar Start -->
    <div class="navbar navbar-expand-lg bg-light navbar-light">
      <div class="container-fluid">
        <div id="logo" class="one_quarter first">
          <a href="{% url 'index-page' %}" class="navbar-brand"
            ><img src="{{ cdn_url }}images/logogavo.webp" alt="GavoFoods"
          /></a>
          <!-- <p class="gfree">Nutritious & Gluten-free</p> -->
        </div>
        <button
          type="button"
          class="navbar-toggler"
          data-toggle="collapse"
          data-target="#navbarCollapse"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div
          class="collapse navbar-collapse justify-content-between"
          id="navbarCollapse"
        >
          <div class="navbar-nav ml-auto">
            <a href="{% url 'index-page' %}" class="nav-item nav-link">Home</a>
            <div class="nav-item dropdown">
              <a
                href="javascript:void(0)"
                class="nav-link dropdown-toggle"
                data-toggle="dropdown"
                >About</a
              >
              <div class="dropdown-menu">
                <a href="{% url 'about' %}" class="dropdown-item">About Us</a>
                <a href="{% url 'team' %}" class="dropdown-item">Our Team</a>
              </div>
            </div>
            <!-- <div class="nav-item dropdown"> -->
            <a
              href="https://shop.gavofoods.co.ke/shop"
              class="nav-item nav-link"
              >Products</a
            >
            <a href="{% url 'services' %}" class="nav-item nav-link"
              >Services</a
            >
            <a href="{% url 'gallery' %}" class="nav-item nav-link">Gallery</a>
            <a href="{% url 'careers' %}" class="nav-item nav-link active"
              >Careers</a
            >
            <a href="{% url 'contact' %}" class="nav-item nav-link">Contact</a>
            <a href="{% url 'blog' %}" class="nav-item nav-link">Blog</a>
            <a
              href="https://shop.gavofoods.co.ke/cart/"
              class="nav-item nav-link"
              ><i
                class="fa-solid fa-bag-shopping fa-lg"
                style="color: #fdd700"
              ></i>
              Cart</a
            >
          </div>
        </div>
      </div>
    </div>
    <!-- Nav Bar End -->

    <!-- Page Header Start -->
    <div class="about-page-header mb-0">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h2>Gavofoods Careers</h2>
          </div>
          <div class="col-12">
            <a href="{% url 'index-page' %}">Home</a>
            <a href="{% url 'careers' %}">Careers</a>
          </div>
        </div>
      </div>
    </div>
    <!-- Page Header End -->
    <!-- career start -->
    <div class="about">
      <div class="container">
        <div class="section-header text-center">
          <h3>Available and Past Job Applications</h3>
          <!-- <p>Featured Products</p> -->
        </div>
        <div class="job-posting">
          <h4>
            Marketing Manager<span style="font-size: small" class="ended-banner"
              >ENDED</span
            >
          </h4>
          <p>
            We are a leading gluten-free food company, dedicated to creating
            delicious, healthy, and accessible gluten-free products. We are
            looking for a Marketing Manager to join our team and help us build
            brand awareness, develop creative marketing strategies, and increase
            sales.
          </p>
          <p>
            As the Marketing Manager, you will be responsible for developing and
            executing marketing campaigns across various channels, including
            digital, print, and social media. You will work closely with the
            sales team to identify new opportunities for growth, conduct market
            research to stay ahead of the competition, and collaborate with our
            product development team to ensure that our products meet the needs
            of our target audience.
          </p>
          <p>
            The ideal candidate will have a proven track record of success in
            marketing and a deep understanding of the gluten-free market. You
            should be highly creative, analytical, and able to work well under
            pressure. You should also have excellent communication and
            interpersonal skills, as you will be working with a variety of
            stakeholders both internally and externally.
          </p>
          <h2>Responsibilities:</h2>
          <ul>
            <li>
              Develop and implement marketing strategies to increase brand
              awareness and drive sales
            </li>
            <li>
              Conduct market research to stay up-to-date with the latest
              industry trends and consumer preferences
            </li>
            <li>
              Collaborate with the sales team to identify new business
              opportunities
            </li>
            <li>
              Work with the product development team to ensure that our products
              meet the needs of our target audience
            </li>
            <li>
              Manage social media channels and develop content to engage our
              followers
            </li>
            <li>
              Create and manage email marketing campaigns to increase customer
              loyalty and retention
            </li>
            <li>Analyze marketing data and adjust strategies accordingly</li>
            <li>
              Manage relationships with external vendors, such as advertising
              agencies and graphic designers
            </li>
            <li>
              Monitor and manage the marketing budget to ensure that resources
              are used effectively
            </li>
          </ul>
          <h2>Requirements:</h2>
          <ul>
            <li>
              Bachelor's degree in Marketing, Communications, or a related field
            </li>
            <li>
              3+ years of experience in marketing, preferably in the food
              industry
            </li>
            <li>
              Experience developing and executing successful marketing campaigns
              across various channels
            </li>
            <li>Excellent written and verbal communication skills</li>
            <li>
              Strong analytical skills and ability to interpret data to make
              informed decisions
            </li>
            <li>Creative problem solver with a willingness to take risks</li>
            <li>
              Ability to work well under pressure and manage multiple projects
              simultaneously
            </li>
            <li>
              Knowledge of the gluten-free market and consumer preferences
            </li>
          </ul>
          <p>
            If you are passionate about marketing, have a deep understanding of
            the gluten-free market, and want to be a part of a dynamic team that
            is dedicated to creating delicious, healthy, and accessible
            gluten-free products, then we would love to hear from you. Apply
            today to join our team!
          </p>
          <button class="apply-btn">Apply Now</button>
          <div class="modal">
            <div class="modal-content">
              <span class="close">&times;</span>
              <h2>Apply for the Position</h2>
              <form
                method="post"
                enctype="multipart/form-data"
                action="https://forms.gavofoods.co.ke/process_form.php"
              >
                <label for="name">Full Name:</label>
                <input type="text" id="name" name="name" required />
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required />
                <label for="cv">Upload CV:</label>
                <input
                  type="file"
                  id="cv"
                  name="cv"
                  accept=".pdf,.doc,.docx"
                  required
                />
                <label for="cover-letter">Cover Letter:</label>
                <textarea
                  id="cover-letter"
                  name="cover-letter"
                  rows="4"
                  cols="50"
                  required
                ></textarea>
                <button type="submit">Submit</button>
              </form>
            </div>
          </div>
        </div>
        <br /><br />
        <hr />
        <div class="job-posting">
          <h4>
            Web Developer Internship<span
              style="font-size: small"
              class="ended-banner"
              >ENDED</span
            >
          </h4>
          <p>
            We are seeking a Web Developer Intern to join our team and assist
            with the development of our website. The ideal candidate is a
            self-starter with experience in web development, specifically in
            Django, HTML, CSS, and JavaScript.
          </p>
          <p>
            In this role, you will work closely with our team of developers to
            design and implement new features, maintain existing code, and
            optimize website performance. You will also collaborate with our
            UX/UI team to ensure that our website is user-friendly and visually
            appealing.
          </p>
          <p>
            This is a fantastic opportunity for someone who is passionate about
            web development and wants to gain hands-on experience in a
            fast-paced and dynamic environment.
          </p>
          <h2>Responsibilities:</h2>
          <ul>
            <li>
              Collaborate with our team of developers to design and implement
              new features
            </li>
            <li>Maintain existing code and optimize website performance</li>
            <li>
              Collaborate with our UX/UI team to ensure that our website is
              user-friendly and visually appealing
            </li>
            <li>Assist with troubleshooting and debugging website issues</li>
            <li>
              Participate in code reviews and provide constructive feedback to
              other developers
            </li>
            <li>
              Stay up-to-date with the latest web development trends and
              technologies
            </li>
          </ul>
          <h2>Requirements:</h2>
          <ul>
            <li>
              Currently pursuing or recently completed a degree in Computer
              Science, Information Technology, or a related field
            </li>
            <li>
              Experience in web development, specifically in Django, HTML, CSS,
              and JavaScript
            </li>
            <li>
              Knowledge of responsive design principles and mobile-first
              development
            </li>
            <li>Strong problem-solving skills and attention to detail</li>
            <li>
              Ability to work independently and collaboratively with a team
            </li>
            <li>Excellent communication skills</li>
          </ul>
          <p>
            If you are a self-motivated web developer with experience in Django,
            HTML, CSS, and JavaScript and are looking for an opportunity to gain
            hands-on experience in a fast-paced and dynamic environment, then we
            would love to hear from you. Apply today to join our team as a Web
            Developer Intern!
          </p>
          <button class="apply-btn">Apply Now</button>
          <div class="modal">
            <div class="modal-content">
              <span class="close">&times;</span>
              <h2>Apply for the Position</h2>
              <form
                method="post"
                enctype="multipart/form-data"
                action="https://forms.gavofoods.co.ke/process_form.php"
              >
                <label for="name">Full Name:</label>
                <input type="text" id="name" name="name" required />
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required />
                <label for="cv">Upload CV:</label>
                <input
                  type="file"
                  id="cv"
                  name="cv"
                  accept=".pdf,.doc,.docx"
                  required
                />
                <label for="cover-letter">Cover Letter:</label>
                <textarea
                  id="cover-letter"
                  name="cover-letter"
                  rows="4"
                  cols="50"
                  required
                ></textarea>
                <button type="submit">Submit</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Footer Start -->
    <div class="footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-5">
            <div class="row">
              <div class="col-md-7">
                <div class="footer-contact">
                  <h2>Our Address</h2>
                  <p>
                    <i class="fa fa-map-marker-alt"></i> Uasin Gishu, 30100,
                    Kenya
                  </p>
                  <!-- <a href="tel:254786338776"><p><i class="fa fa-phone-alt"></i> + 254 786 338 776</p></a> -->
                  <a href="tel:+254702948854"
                    ><p><i class="fa fa-phone-alt"></i>+254 702 948 854</p></a
                  >
                  <a href="mailto:info@gavofoods.co.ke"
                    ><p>
                      <i class="fa fa-envelope"></i>info@gavofoods.co.ke
                    </p></a
                  >
                  <div class="footer-social">
                    <a href="https://twitter.com/Gavofoods" target="_blank"
                      ><i class="fab fa-twitter"></i
                    ></a>
                    <a href="https://facebook.com/GavoFoods/" target="_blank"
                      ><i class="fab fa-facebook-f"></i
                    ></a>
                    <!-- <a href=""><i class="fab fa-youtube"></i></a> -->
                    <a href="https://www.instagram.com/gavo_foods/"
                      ><i class="fab fa-instagram"></i
                    ></a>
                    <a
                      href="https://www.linkedin.com/in/gavofoods-ltd-41594a244/"
                      ><i class="fab fa-linkedin-in"></i
                    ></a>
                  </div>
                </div>
              </div>
              <div class="footer-link">
                <h2>Quick Links</h2>
                <a href="https://shop.gavofoods.co.ke/shop">Shop</a>
                <a href="{% url 'contact' %}">Contact</a>
                <a href="{% url 'blog' %}">Blog</a>
                <!-- <a href="">FQAs</a> -->
              </div>
            </div>
          </div>
          <div class="col-lg-5">
            <div class="footer-newsletter">
              <h2>Newsletter</h2>
              <p>
                Subscribe to our weekly news letter about food and health
                nutrition information and offers.
              </p>
              <div class="form">
                <input class="form-control" placeholder="Enter your email" />
                <button class="btn custom-btn">Submit</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="copyright">
        <div class="container">
          <p>
            Copyright &copy; <span id="copyright-year"></span>
            <a href="{% url 'index-page' %}">GavoFoods</a> | All Rights
            Reserved.
          </p>
        </div>
      </div>
    </div>
    <!-- Footer End -->

    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

    <!-- year updater -->
    <script>
      document.querySelector("#copyright-year").innerText =
        new Date().getFullYear();
    </script>

    <!-- JavaScript Libraries -->
    <script
      type="text/javascript"
      src="{% static 'js/jquery.min.js' %}"
    ></script>
    <script
      type="text/javascript"
      src="{% static 'js/bootstrap.min.js' %}"
    ></script>
    <script src="{% static 'lib/easing/easing.min.js' %}"></script>
    <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'lib/tempusdominus/js/moment.min.js' %}"></script>
    <script src="{% static 'lib/tempusdominus/js/moment-timezone.min.js' %}"></script>
    <script src="{% static 'lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js' %}"></script>

    <!-- Contact Javascript File -->
    <script src="{% static 'mail/jqBootstrapValidation.min.js' %}"></script>
    <script src="{% static 'mail/contact.js' %}"></script>

    <!-- Template Javascript -->
    <script src="{% static 'js/main.js' %}"></script>

    <!-- job js  -->
    <script src="{% static 'js/careers.js' %}"></script>
    <!-- whatspp -->
    <script src="{% static 'js/whatsapp/chat.js' %}"></script>
    <script
      src="https://kit.fontawesome.com/c959104830.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
