{% load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta
      content="gluten-free, nutritious, coeliac diseases, diabetes, malnutrition, and bread"
      name="keywords"
    />
    <meta
      content="food manufacturing company based in Uasin Gishu, Kenya that produces gluten-free flours and bread. Their products are gluten-free and highly nutritious, best for management of chronic diseases particularly coeliac diseases, diabetes and malnutrition"
      name="description"
    />

    {%if title%}
    <title>GavoFoods-{{title}}</title>
    {% else%}
    <title>GavoFoods</title>
    {%endif%}

    <!-- favi -->
    <link
      rel="shortcut icon"
      href="{% static 'img/favicon.ico' %}"
      type="image/x-icon"
    />

    <!-- Google Font -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,400|Nunito:600,700"
      rel="stylesheet"
    />

    <!-- CSS Libraries -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
      rel="stylesheet"
    />
    <link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet" />
    <link
      href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}"
      rel="stylesheet"
    />
    <link href="{% static 'flaticon/font/flaticon.css' %}" rel="stylesheet" />
    <link
      href="{% static 'lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css' %}"
      rel="stylesheet"
    />

    <!-- Template Stylesheet -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
    <style>
      .partner-logos {
        display: flex;
        flex-wrap: wrap;
      }

      .partner-logos .order-1 {
        order: -1;
      }
    </style>
  </head>

  <body>
    <!-- Nav Bar Start -->
    <div class="navbar navbar-expand-lg bg-light navbar-light">
      <div class="container-fluid">
        <div id="logo" class="one_quarter first">
          <a href="{% url 'index-page' %}" class="navbar-brand"
            ><img src="{{ cdn_url }}images/logogavo.webp" alt="GavoFoods"
          /></a>
          <!-- <p class="gfree">Nutritious & Gluten-free</p> -->
        </div>
        <button
          type="button"
          class="navbar-toggler"
          data-toggle="collapse"
          data-target="#navbarCollapse"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div
          class="collapse navbar-collapse justify-content-between"
          id="navbarCollapse"
        >
          <div class="navbar-nav ml-auto">
            <a href="{% url 'index-page' %}" class="nav-item nav-link">Home</a>
            <div class="nav-item dropdown">
              <a
                href="javascript:void(0)"
                class="nav-link dropdown-toggle"
                data-toggle="dropdown"
                >About</a
              >
              <div class="dropdown-menu">
                <a href="{% url 'about' %}" class="dropdown-item">About Us</a>
                <a href="{% url 'team' %}" class="dropdown-item">Our Team</a>
              </div>
            </div>
            <!-- <div class="nav-item dropdown"> -->
            <a
              href="https://shop.gavofoods.co.ke/shop"
              class="nav-item nav-link"
              >Products</a
            >
            <a href="{% url 'services' %}" class="nav-item nav-link"
              >Services</a
            >
            <a href="{% url 'gallery' %}" class="nav-item nav-link">Gallery</a>
            <a href="{% url 'careers' %}" class="nav-item nav-link">Careers</a>
            <!-- class="nav-link dropdown-toggle" data-toggle="dropdown" -->
            <!-- <div class="dropdown-menu">
                          <a
                            href="https://shop.gavofoods.co.ke/shop"
                            class="dropdown-item"
                            >Flours</a
                          >
                          <a href="{% url 'baked-products' %}" class="dropdown-item"
                            >Bread&Snacks</a
                          >
                        </div> -->
            <!-- </div> -->
            <!-- <a href="{% url 'team' %}" class="nav-item nav-link">Our Team</a> -->
            <a href="{% url 'contact' %}" class="nav-item nav-link active"
              >Contact</a
            >
            <a href="{% url 'blog' %}" class="nav-item nav-link">Blog</a>
            <a
              href="https://shop.gavofoods.co.ke/cart/"
              class="nav-item nav-link"
              ><i
                class="fa-solid fa-bag-shopping fa-lg"
                style="color: #fdd700"
              ></i>
              Cart</a
            >
            <!-- {% if user.is_authenticated %}
                              <a href="{% url 'logout' %}" class="nav-item nav-link">Logout</a>
                              {% else %}
                              <a href="{% url 'signup' %}" class="nav-item nav-link">Register</a>
                              <a href="{% url 'login' %}" class="nav-item nav-link">Login</a>
                              {% endif %} -->
          </div>
        </div>
      </div>
    </div>
    <!-- Nav Bar End -->

    <!-- Page Header Start -->
    <div class="about-page-header">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h2>Contact Us</h2>
          </div>
          <div class="col-12">
            <a href="{% url 'index-page' %}">Home</a>
            <a href="{% url 'contact' %}">Contact</a>
          </div>
        </div>
      </div>
    </div>
    <!-- Page Header End -->

    <!-- Contact Start -->
    <div class="contact">
      <div class="container">
        <div class="section-header text-center">
          <p>Contact Us</p>
          <h2>Contact Us For Any Query</h2>
        </div>
        <div class="row align-items-center contact-information">
          <div class="col-md-6 col-lg-3">
            <div class="contact-info">
              <div class="contact-icon">
                <i class="fa fa-map-marker-alt"></i>
              </div>
              <div class="contact-text">
                <h3>Address</h3>
                <p>Uasin Gishu, 30100, Kenya</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="contact-info">
              <div class="contact-icon">
                <i class="fa fa-phone-alt"></i>
              </div>
              <div class="contact-text">
                <h3>Call Us</h3>
                <p><a href="tel:+254 702 948 854">+254 702 948 854</a></p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="contact-info">
              <div class="contact-icon">
                <i class="fa fa-envelope"></i>
              </div>
              <div class="contact-text">
                <h3>Email Us</h3>
                <p>
                  <a href="mailto:info@gavofoods.co.ke">info@gavofoods.co.ke</a>
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="contact-info">
              <div class="contact-icon">
                <i class="fa fa-share"></i>
              </div>
              <div class="contact-text">
                <h3>Follow Us</h3>
                <div class="contact-social">
                  <a href="https://twitter.com/gavofoodsltd"
                    ><i class="fab fa-twitter"></i
                  ></a>
                  <a href="https://facebook.com/GavoFoods/"
                    ><i class="fab fa-facebook-f"></i
                  ></a>
                  <!-- <a href=""><i class="fab fa-youtube"></i></a> -->
                  <a href="https://www.instagram.com/gavo_foods/"
                    ><i class="fab fa-instagram"></i
                  ></a>
                  <a href="https://www.linkedin.com/in/gavofoods-ltd-41594a244/"
                    ><i class="fab fa-linkedin-in"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row contact-form">
          <div class="col-md-6">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7979.31595279418!2d35.268591991164136!3d0.5136754479251808!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x17810160b1bed46b%3A0xcd1e65464af33ec9!2sGavoFoods%20Limited!5e0!3m2!1sen!2ske!4v1705848415997!5m2!1sen!2ske"
              width="600"
              height="450"
              style="border: 0"
              allowfullscreen=""
              loading="lazy"
            ></iframe>
          </div>
          <div class="col-md-6">
            <div id="success"></div>
            <form
              action="https://api.web3forms.com/submit"
              method="POST"
              name="sentMessage"
              id="contactForm"
              novalidate="novalidate"
            >
              <input
                type="hidden"
                name="access_key"
                value="015ec898-87f8-44d1-96db-f76ee7ba56a8"
              />
              <!-- <input type="hidden" name="subject" value="Gavofoods Website:"> -->
              <input type="hidden" name="from_name" value="Gavofoods" />
              <input
                type="hidden"
                name="replyto"
                value="lbitok@gavofoods.co.ke"
              />
              <input
                type="hidden"
                name="redirect"
                value="https://gavofoods.co.ke"
              />

              <!-- {% csrf_token %} -->
              <div class="control-group">
                <input
                  type="text"
                  class="form-control"
                  name="name"
                  id="name"
                  placeholder="Your Name"
                  required="required"
                  data-validation-required-message="Please enter your name"
                />
                <p class="help-block text-danger"></p>
              </div>
              <div class="control-group">
                <input
                  type="email"
                  class="form-control"
                  name="email"
                  id="email"
                  placeholder="Your Email"
                  required="required"
                  data-validation-required-message="Please enter your email"
                />
                <p class="help-block text-danger"></p>
              </div>
              <div class="control-group">
                <input
                  type="text"
                  class="form-control"
                  name="subject"
                  id="subject"
                  placeholder="Subject"
                  required="required"
                  data-validation-required-message="Please enter a subject"
                />
                <p class="help-block text-danger"></p>
              </div>
              <div class="control-group">
                <textarea
                  class="form-control"
                  id="message"
                  name="message"
                  placeholder="Message"
                  required="required"
                  data-validation-required-message="Please enter your message"
                ></textarea>
                <p class="help-block text-danger"></p>
              </div>
              <div>
                <button
                  class="btn custom-btn"
                  type="submit"
                  id="sendMessageButton"
                >
                  Send Message
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- Contact End -->

    <!-- Footer Start -->
    <div class="footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-5">
            <div class="row">
              <div class="col-md-7">
                <div class="footer-contact">
                  <h2>Our Address</h2>
                  <p>
                    <i class="fa fa-map-marker-alt"></i> Uasin Gishu, 30100,
                    Kenya
                  </p>
                  <!-- <a href="tel:254786338776"><p><i class="fa fa-phone-alt"></i> + 254 786 338 776</p></a> -->
                  <a href="tel:+254702948854"
                    ><p><i class="fa fa-phone-alt"></i>+254 702 948 854</p></a
                  >
                  <a href="mailto:info@gavofoods.co.ke"
                    ><p>
                      <i class="fa fa-envelope"></i>info@gavofoods.co.ke
                    </p></a
                  >
                  <div class="footer-social">
                    <a href="https://twitter.com/gavofoodsltd" target="_blank"
                      ><i class="fab fa-twitter"></i
                    ></a>
                    <a href="https://facebook.com/GavoFoods/" target="_blank"
                      ><i class="fab fa-facebook-f"></i
                    ></a>
                    <!-- <a href=""><i class="fab fa-youtube"></i></a> -->
                    <a href="https://www.instagram.com/gavo_foods/"
                      ><i class="fab fa-instagram"></i
                    ></a>
                    <a
                      href="https://www.linkedin.com/in/gavofoods-ltd-41594a244/"
                      ><i class="fab fa-linkedin-in"></i
                    ></a>
                  </div>
                </div>
              </div>
              <div class="footer-link">
                <h2>Quick Links</h2>
                <a href="https://shop.gavofoods.co.ke/shop">Shop</a>
                <a href="{% url 'contact' %}">Contact</a>
                <a href="{% url 'blog' %}">Blog</a>
                <!-- <a href="">FQAs</a> -->
              </div>
            </div>
          </div>
          <div class="col-lg-5">
            <div class="footer-newsletter">
              <h2>Newsletter</h2>
              <p>
                Subscribe to our weekly news letter about food and health
                nutrition information and offers.
              </p>
              <div class="form">
                <input class="form-control" placeholder="Enter your email" />
                <button class="btn custom-btn">Submit</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="copyright">
        <div class="container">
          <p>
            Copyright &copy; <span id="copyright-year"></span>
            <a href="{% url 'index-page' %}">GavoFoods</a> | All Rights
            Reserved.
          </p>
        </div>
      </div>
    </div>
    <!-- Footer End -->

    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

    <!-- year updater -->
    <script>
      document.querySelector("#copyright-year").innerText =
        new Date().getFullYear();
    </script>

    <!-- JavaScript Libraries -->
    <script
      type="text/javascript"
      src="{% static 'js/jquery.min.js' %}"
    ></script>
    <script
      type="text/javascript"
      src="{% static 'js/bootstrap.min.js' %}"
    ></script>
    <script src="{% static 'lib/easing/easing.min.js' %}"></script>
    <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'lib/tempusdominus/js/moment.min.js' %}"></script>
    <script src="{% static 'lib/tempusdominus/js/moment-timezone.min.js' %}"></script>
    <script src="{% static 'lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js' %}"></script>

    <!-- Contact Javascript File -->
    <script src="{% static 'mail/jqBootstrapValidation.min.js' %}"></script>

    <!-- Template Javascript -->
    <script src="{% static 'js/main.js' %}"></script>
    <!-- whatspp -->
    <script src="{% static 'js/whatsapp/chat.js' %}"></script>
    <script
      src="https://kit.fontawesome.com/c959104830.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
