{% load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="gluten-free, nutritious, coeliac diseases, diabetes, malnutrition, and bread" name="keywords">
    <meta content="food manufacturing company based in Uasin Gishu, Kenya that produces gluten-free flours and bread. Their products are gluten-free and highly nutritious, best for management of chronic diseases particularly coeliac diseases, diabetes and malnutrition" name="description">


    {%if title%}
    <title>GavoFoods-{{title}}</title>
    {% else%}
    <title>GavoFoods</title>
    {%endif%}

    <!-- favicon -->
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400|Nunito:600,700" rel="stylesheet">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400|Nunito:600,700" rel="stylesheet">

    <!-- CSS Libraries -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
    <link href="{% static 'flaticon/font/flaticon.css' %}" rel="stylesheet">
    <link href="{% static 'lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css' %}" rel="stylesheet" />

    <!-- Template Stylesheet -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/products.css' %}" rel="stylesheet">
    <style>
        .partner-logos {
            display: flex;
            flex-wrap: wrap;
        }
        
        .partner-logos .order-1 {
            order: -1;
        }
        </style>
</head>

<body>
    <!-- Nav Bar Start -->
    <div class="navbar navbar-expand-lg bg-light navbar-light">
        <div class="container-fluid">
            <div id="logo" class="one_quarter first">
                <a href="{% url 'index-page' %}" class="navbar-brand"><img src="https://cdn.gavofoods.co.ke/static/images/logogavo.webp"
                        alt="GavoFoods"></a>
                <!-- <p class="gfree">Nutritious & Gluten-free</p> -->
            </div>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                <div class="navbar-nav ml-auto">
                    <a href="{% url 'index-page' %}" class="nav-item nav-link active">Home</a>
                    <a href="{% url 'about' %}" class="nav-item nav-link">About us</a>
                    <div class="nav-item dropdown">
                        <a href="https://shop.gavofoods.co.ke" class="nav-item nav-link" >Products</a>
                        <a href="{% url 'careers' %}" class="nav-item nav-link">Careers</a>
                    <!-- class="nav-link dropdown-toggle" data-toggle="dropdown" -->
                        <!-- <div class="dropdown-menu">
                            <a href="{% url 'flour-products' %}" class="dropdown-item">Flours</a>
                            <a href="{% url 'baked-products' %}" class="dropdown-item">Bread&Snacks</a>
                        </div> -->
                    </div>
                    <a href="{% url 'cafe' %}" class="nav-item nav-link">Our Cafe</a>
                    <a href="{% url 'contact' %}" class="nav-item nav-link">Contact</a>
                    <a href="{% url 'blog' %}" class="nav-item nav-link">Blog</a>
                    <!-- {% if user.is_authenticated %}
                    <a href="{% url 'logout' %}" class="nav-item nav-link">Logout</a>
                    {% else %}
                    <a href="{% url 'signup' %}" class="nav-item nav-link">Register</a>
                    <a href="{% url 'login' %}" class="nav-item nav-link">Login</a>
                    {% endif %} -->
                </div>
            </div>
        </div>
    </div>
    <!-- Nav Bar End -->

    <!-- Page Header Start -->
    <div class="flour-page-header">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2>Flours Products</h2>
                </div>
                <div class="col-12">
                    <a href="{% url 'index-page' %}">Home</a>
                    <a href="">Products</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Page Header End -->

    <div class="container">

        <div class="row">
            {%for product in products%}
            <div class="col-md-3 col-6 col-sm-6 p">
                <div class="card card-block">
                    <h4 class="card-title text-center">{{product.name}}</h4>
                    <img src="{{ product.image.url }}" alt="" style="width: 100; height: 30vh;">
                    <div class="card-text">
                        <p>{{product.description|safe |truncatechars:65 }}</p>
                    </div>

                    <div class="card-footer">
                        <span class="float-left"><a href="{% url 'flour-product-detail' product.id %}"
                                data-toggle="tooltip" data-placement="top" title="Add to Cart">
                                <i class="fas fa-shopping-cart"></i></a>
                        </span>
                        <span class="float-right"><a href="{% url 'flour-product-detail' product.id %}"
                                data-toggle="tooltip" data-placement="top" title="Add to Cart"><i
                                    class="fas fa-angle-right">Read more</i><i class="fas fa-angle-right"></i></a>
                        </span>
                    </div>

                </div>
            </div>
            {%endfor%}
        </div>
    </div>

    <!-- Footer Start -->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="row">
                        <div class="col-md-7">
                            <div class="footer-contact">
                                <h2>Our Address</h2>
                                <p><i class="fa fa-map-marker-alt"></i> Uasin Gishu, 30100, Kenya</p>
                                <!-- <a href="tel:254786338776"><p><i class="fa fa-phone-alt"></i> + 254 786 338 776</p></a> -->
                                    <a href="tel:+254702948854"><p><i class="fa fa-phone-alt"></i>+254 702 948 854</p></a>
                                    <a href="mailto:info@gavofoods.co.ke"><p><i class="fa fa-envelope"></i>info@gavofoods.co.ke</p></a>
                                    <div class="footer-social">
                                        <a href="https://twitter.com/gavofoodsltd" target="_blank"><i
                                                class="fab fa-twitter"></i></a>
                                        <a href="https://facebook.com/GavoFoods/"
                                            target="_blank"><i class="fab fa-facebook-f"></i></a>
                                        <!-- <a href=""><i class="fab fa-youtube"></i></a> -->
                                        <a href="https://www.instagram.com/gavo_foods/"><i class="fab fa-instagram"></i></a>
                                        <a href="https://www.linkedin.com/in/gavofoods-ltd-41594a244/"><i class="fab fa-linkedin-in"></i></a>
                                    </div>
                            </div>
                        </div>
                        <div class="footer-link">
                                <h2>Quick Links</h2>
                  <a href="https://shop.gavofoods.co.ke/shop">Shop</a>
                  <a href="{% url 'contact' %}">Contact</a>
                  <a href="{% url 'blog' %}">Blog</a>
                  <!-- <a href="">FQAs</a> -->
                            </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="footer-newsletter">
                        <h2>Newsletter</h2>
                        <p>
                            Subscribe to our weekly news letter about food and health nutrition information and offers.
                        </p>
                        <div class="form">
                            <input class="form-control" placeholder="Enter your email">
                            <button class="btn custom-btn">Submit</button>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="copyright">
            <div class="container">
                <p>Copyright &copy; <span id="copyright-year"></span> <a href="{% url 'index-page' %}">GavoFoods</a> |
                    All Rights Reserved.</p>
            </div>
        </div>
    </div>
    <!-- Footer End -->

    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

    <!-- year updater -->
    <script>
        document.querySelector("#copyright-year").innerText =
            new Date().getFullYear();
    </script>

    <!-- JavaScript Libraries -->
    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'lib/easing/easing.min.js' %}"></script>
    <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'lib/tempusdominus/js/moment.min.js' %}"></script>
    <script src="{% static 'lib/tempusdominus/js/moment-timezone.min.js' %}"></script>
    <script src="{% static 'lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js' %}"></script>

    <!-- Contact Javascript File -->
    <script src="{% static 'mail/jqBootstrapValidation.min.js' %}"></script>
    <script src="{% static 'mail/contact.js' %}"></script>

    <!-- Template Javascript -->
    <script src="{% static 'js/main.js' %}"></script>
</body>

</html>