{% load static%}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="gluten-free, nutritious, coeliac diseases, diabetes, malnutrition, and bread" name="keywords">
  <meta content="food manufacturing company based in Uasin Gishu, Kenya that produces gluten-free flours and bread. Their products are gluten-free and highly nutritious, best for management of chronic diseases particularly coeliac diseases, diabetes and malnutrition" name="description">


  {%if title%}
  <title>GavoFoods-{{title}}</title>
  {% else%}
  <title>GavoFoodstitle>
    {%endif%}

    <!-- favicon -->
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400|Nunito:600,700" rel="stylesheet">

    <!-- CSS Libraries -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
    <link href="{% static 'flaticon/font/flaticon.css' %}" rel="stylesheet">
    <link href="{% static 'lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css' %}" rel="stylesheet" />

    <!-- Template Stylesheet -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <style>
      .partner-logos {
          display: flex;
          flex-wrap: wrap;
      }
      
      .partner-logos .order-1 {
          order: -1;
      }
      </style>
</head>

<body>
  <!-- Nav Bar Start -->
  <div class="navbar navbar-expand-lg bg-light navbar-light">
    <div class="container-fluid">
      <div id="logo" class="one_quarter first">
        <a href="{% url 'index-page' %}" class="navbar-brand"><img src="https://cdn.gavofoods.co.ke/static/images/logogavo.webp"
            alt="GavoFoods"></a>
        <!-- <p class="gfree">Nutritious & Gluten-free</p> -->
      </div>
      <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
        <div class="navbar-nav ml-auto">
          <a href="{% url 'index-page' %}" class="nav-item nav-link active">Home</a>
          <a href="{% url 'about' %}" class="nav-item nav-link">About us</a>
          <div class="nav-item dropdown">
              <a href="https://shop.gavofoods.co.ke" class="nav-item nav-link" >Products</a>
              <a href="{% url 'careers' %}" class="nav-item nav-link">Careers</a>
                    <!-- class="nav-link dropdown-toggle" data-toggle="dropdown" -->
              <!-- <div class="dropdown-menu">
                  <a href="{% url 'flour-products' %}" class="dropdown-item">Flours</a>
                  <a href="{% url 'baked-products' %}" class="dropdown-item">Bread&Snacks</a>
              </div> -->
          </div>
          <a href="{% url 'cafe' %}" class="nav-item nav-link">Our Cafe</a>
          <a href="{% url 'contact' %}" class="nav-item nav-link">Contact</a>
          <a href="{% url 'blog' %}" class="nav-item nav-link">Blog</a>
          <!-- {% if user.is_authenticated %}
          <a href="{% url 'logout' %}" class="nav-item nav-link">Logout</a>
          {% else %}
          <a href="{% url 'signup' %}" class="nav-item nav-link">Register</a>
          <a href="{% url 'login' %}" class="nav-item nav-link">Login</a>
          {% endif %} -->
      </div>
      </div>
    </div>
  </div>
  <!-- Page Header Start -->
  <div class="catalogue-page-header">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2>Product catalogue</h2>
        </div>
      </div>
    </div>
  </div>
  <!-- Page Header End -->
  <!-- Main Container -->
  <div class="container">

    <!-- Section: Product detail -->
    <section id="productDetails" class="pb-5">

      <!-- News card -->
      <div class="card mt-5">

        <div class="row mt-5">

          <div class="col-lg-6">

            <!-- Carousel Wrapper -->
            <div id="carousel-thumb" class="carousel slide carousel-fade carousel-thumbnails" data-ride="carousel">

              <!-- Slides -->
              <div class="carousel-inner text-center text-md-left" role="listbox">

                <div class="carousel-item active">

                  <img src={{object.image.url}} alt="" class="img-fluid">

                </div>


              </div>
              <!-- Slides -->


            </div>
            <!-- Carousel Wrapper -->

          </div>

          <div class="col-lg-5 mr-3 text-md-left">

            <h2
              class="h2-responsive text-center text-md-left product-name font-weight-bold dark-grey-text mb-1 ml-xl-0 ml-4"
              style="color: #fdd700;">

              <strong>{{object.name}}</strong>

            </h2>

            <span class="badge badge-danger product mb-4 ml-xl-0 ml-4"></span>

            <h3 class="h3-responsive text-center text-md-left mb-5 ml-xl-0 ml-4">

              <span class="red-text font-weight-bold">

                <!--<strong>Ksh.__</strong>-->

              </span>

            </h3>

            <!-- Accordion wrapper -->
            <div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="true">

              <!-- Accordion card -->
              <div class="card">

                <!-- Card header -->
                <div class="card-header" role="tab" id="headingOne1">

                  <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne1" aria-expanded="true"
                    aria-controls="collapseOne1">

                    <h5 class="mb-0" style="color: #719a0a;">

                      Description of {{object.name}}

                      <i class="fas fa-angle-down rotate-icon"></i>

                    </h5>

                  </a>

                </div>

                <!-- Card body -->
                <div id="collapseOne1" class="collapse show" role="tabpanel" aria-labelledby="headingOne1"
                  data-parent="#accordionEx">

                  <div class="card-body">
                    <p class="font-weight-normal dark-grey-text">{{object.description|safe}}</p>

                  </div>

                </div>

              </div>
              <!-- Accordion card -->

              <!-- Accordion card -->
              <div class="card">

                <!-- Card header -->
                <div class="card-header" role="tab" id="headingTwo2">

                  <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseTwo2"
                    aria-expanded="false" aria-controls="collapseTwo2">

                    <h5 class="mb-0" style="color: #719a0a;">Nutritional Value of {{object.name}}

                      <i class="fas fa-angle-down rotate-icon"></i>

                    </h5>

                  </a>

                </div>

                <!-- Card body -->
                <div id="collapseTwo2" class="collapse" role="tabpanel" aria-labelledby="headingTwo2"
                  data-parent="#accordionEx">

                  <div class="card-body">
                    <p>{{object.nutritional_value|safe}}</p>
                  </div>

                </div>

              </div>
              <!-- Accordion card -->

              <!-- Accordion card -->
              <div class="card">

                <!-- Card header -->
                <div class="card-header" role="tab" id="headingThree3">

                  <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseThree3"
                    aria-expanded="false" aria-controls="collapseThree3">

                    <h5 class="mb-0" style="color: #719a0a;">Delivery
                      <i class="fas fa-angle-down rotate-icon"></i>

                    </h5>

                  </a>

                </div>

                <!-- Card body -->
                <div id="collapseThree3" class="collapse" role="tabpanel" aria-labelledby="headingThree3"
                  data-parent="#accordionEx">

                  <div class="card-body">
                    <p class="font-weight-normal dark-grey-text">{{object.delivery|safe}}</p>
                  </div>

                </div>

              </div>
              <!-- Accordion card -->

            </div>
            <!-- Accordion wrapper -->

            <!-- Add to Cart -->
            <section>

              <div class="mt-5">

                <div class="row mt-3 mb-4">

                  <div class="col-md-12 text-center text-md-left text-md-right">

                    <button class="btn custom-btn btn-rounded" onclick="location.href='{% url 'contact' %}' ">


                      <i class="fas fa-cart-plus mr-2" aria-hidden="true"></i>Order</button>

                  </div>

                </div>

              </div>

            </section>
            <!-- Add to Cart -->

          </div>

        </div>

      </div>

    </section>
  </div>
  <!-- Footer Start -->
  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-5">
          <div class="row">
            <div class="col-md-7">
              <div class="footer-contact">
                <h2>Our Address</h2>
                <p><i class="fa fa-map-marker-alt"></i> Uasin Gishu, 30100, Kenya</p>
                <a href="tel:254786338776"><p><i class="fa fa-phone-alt"></i> + 254 786 338 776</p></a>
                <a href="tel:254115338757"><p><i class="fa fa-phone-alt"></i> + 254 115 338 757</p></a>
                <a href="mailto:info@gavofoods.co.ke"><p><i class="fa fa-envelope"></i>info@gavofoods.co.ke</p></a>
                <div class="footer-social">
                  <a href="https://twitter.com/gavofoodsltd" target="_blank"><i
                          class="fab fa-twitter"></i></a>
                  <a href="https://facebook.com/GavoFoods/"
                      target="_blank"><i class="fab fa-facebook-f"></i></a>
                  <!-- <a href=""><i class="fab fa-youtube"></i></a> -->
                  <a href="https://www.instagram.com/gavo_foods/"><i class="fab fa-instagram"></i></a>
                  <a href="https://www.linkedin.com/in/gavofoods-ltd-41594a244/"><i class="fab fa-linkedin-in"></i></a>
              </div>
              </div>
            </div>
            <div class="col-md-5">
              <div class="footer-link">
                <h2>Quick Links</h2>
                <a href="">Terms of use</a>
                <a href="">Privacy policy</a>
                <a href="">Cookies</a>
                <a href="">Help</a>
                <a href="">FQAs</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-5">
          <div class="footer-newsletter">
            <h2>Newsletter</h2>
            <p>
              Subscribe to our weekly news letter about food and health nutrition information and offers.
            </p>
            <div class="form">
              <input class="form-control" placeholder="Enter your email">
              <button class="btn custom-btn">Submit</button>
            </div>
          </div>
        </div>
        <div class="col-lg-2">
          <div class="col-lg-2">
            <div class="footer-newsletter partner-logos">
                <h2>Our Partners</h2>
            <a href="https://www.eldohub.co.ke" target="_blank" class="footer-brand"><img
                    src="{{ cdn_url }}images/branding.png" alt="eldohub">
            </a>
            <a href="https://www.innovationagency.go.ke/" target="_blank" class="footer-brand"><img
                    src="{{ cdn_url }}images/img/partners/kenialogo2.png" alt="GavoFoods">
            </a>
            <a href="https://www.must.ac.ke" target="_blank" class="footer-brand"><img
                    src="{{ cdn_url }}images/img/partners/logo4_png_version.fw_.png" alt="GavoFoods">
            </a>
            <a href="https://msea.go.ke/" target="_blank" class="footer-brand"><img
                    src="{{ cdn_url }}images/img/partners/msea-logo.png" alt="GavoFoods">
            </a>
            <a href="https://plusfarmkenya.co.ke/" target="_blank" class="footer-brand"><img
                    src="{{ cdn_url }}images/img/partners/PlusFarm-Logo-medium-1536x587.png.webp" alt="GavoFoods">
            </a>
            <a href="https://kepsa.or.ke/" target="_blank" class="footer-brand"><img
                    src="{{ cdn_url }}images/img/partners/KEPSA%20LOGO%20for%20website.png" alt="GavoFoods">
            </a>
            </div>
        </div>
        </div>
      </div>
    </div>
    <div class="copyright">
      <div class="container">
        <p>Copyright &copy; <span id="copyright-year"></span> <a href="{% url 'index-page' %}">GavoFoods</a> | All
          Rights Reserved.</p>
      </div>
    </div>
  </div>
  <!-- Footer End -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

  <!-- year updater -->
  <script>
    document.querySelector("#copyright-year").innerText =
      new Date().getFullYear();
  </script>

  <!-- JavaScript Libraries -->
  <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'lib/easing/easing.min.js' %}"></script>
  <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>
  <script src="{% static 'lib/tempusdominus/js/moment.min.js' %}"></script>
  <script src="{% static 'lib/tempusdominus/js/moment-timezone.min.js' %}"></script>
  <script src="{% static 'lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js' %}"></script>

  <!-- Contact Javascript File -->
  <script src="{% static 'mail/jqBootstrapValidation.min.js' %}"></script>
  <script src="{% static 'mail/contact.js' %}"></script>

  <!-- Template Javascript -->
  <script src="{% static 'js/main.js' %}"></script>
</body>

</html>