{% load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta
      content="Gavofoods Limited Gallery page showcasing high-quality products such as All-purpose flour, Family porridge (fermented and non-fermented), Baby porridge, Acacia honey, Gluten-free snacks, Assorted spices, and Juices. Browse our collection and experience the delicious flavors and health benefits of our products. Order now and enjoy premium quality food items sold by Gavofoods Limited."
      name="description"
    />
    <meta
      content="Gavofoods Limited, Gallery, Products, All-purpose flour, Family porridge, Fermented, Non-fermented, Baby porridge, Acacia honey, Gluten-free snacks, Assorted spices, Juices, Premium quality, Health benefits, Delicious flavors, Order now"
      name="keywords"
    />

    {%if title%}
    <title>{{title}} | Gavofoods</title>
    {% else%}
    <title>Gavofoods</title>
    {%endif%}

    <!-- favicon -->
    <link
      rel="shortcut icon"
      href="{% static 'img/favicon.ico' %}"
      type="image/x-icon"
    />

    <!-- Google Font -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,400|Nunito:600,700"
      rel="stylesheet"
    />

    <!-- CSS Libraries -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
      rel="stylesheet"
    />
    <link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet" />
    <link
      href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}"
      rel="stylesheet"
    />
    <link href="{% static 'flaticon/font/flaticon.css' %}" rel="stylesheet" />
    <link
      href="{% static 'lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css' %}"
      rel="stylesheet"
    />

    <!-- gallery css -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css"
    />

    <!-- Template Stylesheet -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
    <link href="{% static 'css/about.css' %}" rel="stylesheet" />
    <style>
      .row {
        margin: 15px;
      }
    </style>
    <style>
      .partner-logos {
        display: flex;
        flex-wrap: wrap;
      }

      .partner-logos .order-1 {
        order: -1;
      }
    </style>
  </head>

  <body>
    <!-- Nav Bar Start -->
    <div class="navbar navbar-expand-lg bg-light navbar-light">
      <div class="container-fluid">
        <div id="logo" class="one_quarter first">
          <a href="{% url 'index-page' %}" class="navbar-brand"
            ><img src="{{ cdn_url }}images/logogavo.webp" alt="GavoFoods"
          /></a>
          <!-- <p class="gfree">Nutritious & Gluten-free</p> -->
        </div>
        <button
          type="button"
          class="navbar-toggler"
          data-toggle="collapse"
          data-target="#navbarCollapse"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div
          class="collapse navbar-collapse justify-content-between"
          id="navbarCollapse"
        >
          <div class="navbar-nav ml-auto">
            <a href="{% url 'index-page' %}" class="nav-item nav-link">Home</a>
            <div class="nav-item dropdown">
              <a
                href="javascript:void(0)"
                class="nav-link dropdown-toggle"
                data-toggle="dropdown"
                >About</a
              >
              <div class="dropdown-menu">
                <a href="{% url 'about' %}" class="dropdown-item">About Us</a>
                <a href="{% url 'team' %}" class="dropdown-item">Our Team</a>
              </div>
            </div>
            <!-- <div class="nav-item dropdown"> -->
            <a
              href="https://shop.gavofoods.co.ke/shop"
              class="nav-item nav-link"
              >Products</a
            >
            <a href="{% url 'services' %}" class="nav-item nav-link"
              >Services</a
            >
            <a href="{% url 'gallery' %}" class="nav-item nav-link active"
              >Gallery</a
            >
            <a href="{% url 'careers' %}" class="nav-item nav-link">Careers</a>
            <!-- class="nav-link dropdown-toggle" data-toggle="dropdown" -->
            <a href="{% url 'contact' %}" class="nav-item nav-link">Contact</a>
            <a href="{% url 'blog' %}" class="nav-item nav-link">Blog</a>
            <a
              href="https://shop.gavofoods.co.ke/cart/"
              class="nav-item nav-link"
              ><i
                class="fa-solid fa-bag-shopping fa-lg"
                style="color: #fdd700"
              ></i>
              Cart</a
            >
          </div>
        </div>
      </div>
    </div>
    <!-- Nav Bar End -->

    <!-- Page Header Start -->
    <div class="about-page-header mb-0">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h2>Gallery</h2>
          </div>
          <div class="col-12">
            <a href="{% url 'index-page' %}">Home</a>
            <a href="{% url 'gallery' %}">Gallery</a>
          </div>
        </div>
      </div>
    </div>
    <!-- Page Header End -->

    <!-- Gallery Start -->
    <div class="about">
      <div class="container">
        <div class="section-header text-center">
          <h3>Gallery and Events</h3>
          <!-- <p>Featured Products</p> -->
        </div>
        <div id="about" class="section">
          <div class="container mt-3">
            <div class="row">
              <div class="col-md-12">
                <ul
                  class="nav nav-pills nav-justified"
                  id="myTab"
                  role="tablist"
                >
                  <li class="nav-item">
                    <a class="nav-link active" href="#tab_a" data-toggle="tab"
                      >Products</a
                    >
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#tab_b" data-toggle="tab"
                      >Exhibitions</a
                    >
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#tab_c" data-toggle="tab"
                      >Awards</a
                    >
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#tab_d" data-toggle="tab"
                      >Events</a
                    >
                  </li>
                </ul>
                <div class="tab-content mt-3">
                  <div class="tab-pane fade show active" id="tab_a">
                    <div class="container">
                      <div class="row">
                        <a
                          href="{{ cdn_url}}2024/all_purpose.webp"
                          data-toggle="lightbox"
                          data-gallery="gallery"
                          class="col-md-4"
                        >
                          <img
                            src="{{ cdn_url}}2024/all_purpose.webp"
                            class="img-fluid rounded"
                          />
                        </a>
                        <a
                          href="{{ cdn_url}}2024/therapeutic_uji_two.webp"
                          data-toggle="lightbox"
                          data-gallery="gallery"
                          class="col-md-4"
                        >
                          <img
                            src="{{ cdn_url}}2024/therapeutic_uji_two.webp"
                            class="img-fluid rounded"
                          />
                        </a>
                        <a
                          href="{{ cdn_url}}2024/tea_masala.webp"
                          data-toggle="lightbox"
                          data-gallery="gallery"
                          class="col-md-4"
                        >
                          <img
                            src="{{ cdn_url}}2024/tea_masala.webp"
                            class="img-fluid rounded"
                          />
                        </a>
                        <a
                          href="{{ cdn_url}}2024/sour_two.webp"
                          data-toggle="lightbox"
                          data-gallery="gallery"
                          class="col-md-4"
                        >
                          <img
                            src="{{ cdn_url}}2024/sour_two.webp"
                            class="img-fluid rounded"
                          />
                        </a>
                        <a
                          href="{{ cdn_url}}2024/kiddi_ujitwo.webp"
                          data-toggle="lightbox"
                          data-gallery="gallery"
                          class="col-md-4"
                        >
                          <img
                            src="{{ cdn_url}}2024/kiddi_ujitwo.webp"
                            class="img-fluid rounded"
                          />
                        </a>
                        <a
                          href="{{ cdn_url}}2024/hibiscus_bundle.webp"
                          data-toggle="lightbox"
                          data-gallery="gallery"
                          class="col-md-4"
                        >
                          <img
                            src="{{ cdn_url}}2024/hibiscus_bundle.webp"
                            class="img-fluid rounded"
                          />
                        </a>
                        <a
                          href="{{ cdn_url}}2024/all_purpose_two.webp"
                          data-toggle="lightbox"
                          data-gallery="gallery"
                          class="col-md-4"
                        >
                          <img
                            src="{{ cdn_url}}2024/all_purpose_two.webp"
                            class="img-fluid rounded"
                          />
                        </a>
                        <a
                          href="{{ cdn_url}}images/products/gavo-14.png"
                          data-toggle="lightbox"
                          data-gallery="gallery"
                          class="col-md-4"
                        >
                          <img
                            src="{{ cdn_url}}images/products/gavo-14.png"
                            class="img-fluid rounded"
                          />
                        </a>
                        <a
                          href="{{ cdn_url}}images/products/gavo-15.png"
                          data-toggle="lightbox"
                          data-gallery="gallery"
                          class="col-md-4"
                        >
                          <img
                            src="{{ cdn_url}}images/products/gavo-15.png"
                            class="img-fluid rounded"
                          />
                        </a>
                        <a
                          href="{{ cdn_url}}images/products/gavo-16.png"
                          data-toggle="lightbox"
                          data-gallery="gallery"
                          class="col-md-4"
                        >
                          <img
                            src="{{ cdn_url}}images/products/gavo-16.png"
                            class="img-fluid rounded"
                          />
                        </a>
                        <a
                          href="{{ cdn_url}}images/products/gavo-1.png"
                          data-toggle="lightbox"
                          data-gallery="gallery"
                          class="col-md-4"
                        >
                          <img
                            src="{{ cdn_url}}images/products/gavo-1.png"
                            class="img-fluid rounded"
                          />
                        </a>
                        <a
                          href="{{ cdn_url}}images/products/gavo-13.png"
                          data-toggle="lightbox"
                          data-gallery="gallery"
                          class="col-md-4"
                        >
                          <img
                            src="{{ cdn_url}}images/products/gavo-13.png"
                            class="img-fluid rounded"
                          />
                        </a>
                      </div>
                      <div class="row">
                        <a
                          href="{{ cdn_url}}images/products/gavo-5.png"
                          data-toggle="lightbox"
                          data-gallery="gallery"
                          class="col-md-4"
                        >
                          <img
                            src="{{ cdn_url}}images/products/gavo-5.png"
                            class="img-fluid rounded"
                          />
                        </a>
                        <a
                          href="{{ cdn_url}}images/products/gavo-4.png"
                          data-toggle="lightbox"
                          data-gallery="gallery"
                          class="col-md-4"
                        >
                          <img
                            src="{{ cdn_url}}images/products/gavo-4.png"
                            class="img-fluid rounded"
                          />
                        </a>
                        <a
                          href="{{ cdn_url}}images/products/gavo-2.png"
                          data-toggle="lightbox"
                          data-gallery="gallery"
                          class="col-md-4"
                        >
                          <img
                            src="{{ cdn_url}}images/products/gavo-2.png"
                            class="img-fluid rounded"
                          />
                        </a>
                        <a
                          href="{{ cdn_url}}2024/hibiscus.webp"
                          data-toggle="lightbox"
                          data-gallery="gallery"
                          class="col-md-4"
                        >
                          <img
                            src="{{ cdn_url}}2024/hibiscus.webp"
                            class="img-fluid rounded"
                          />
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane fade" id="tab_b">
                    <div class="about-text text-center">
                      <div class="row">
                        <a
                          href="{{ cdn_url}}images/exhibitions/DSC_0066.jpg"
                          data-toggle="lightbox"
                          data-gallery="gallery"
                          class="col-md-4"
                        >
                          <img
                            src="{{ cdn_url}}images/exhibitions/DSC_0066.jpg"
                            class="img-fluid rounded"
                          />
                        </a>
                        <a
                          href="{{ cdn_url}}images/exhibitions/DSC_0067.jpg"
                          data-toggle="lightbox"
                          data-gallery="gallery"
                          class="col-md-4"
                        >
                          <img
                            src="{{ cdn_url}}images/exhibitions/DSC_0067.jpg"
                            class="img-fluid rounded"
                          />
                        </a>
                        <a
                          href="{{ cdn_url}}images/exhibitions/DSC_0069.jpg"
                          data-toggle="lightbox"
                          data-gallery="gallery"
                          class="col-md-4"
                        >
                          <img
                            src="{{ cdn_url}}images/exhibitions/DSC_0069.jpg"
                            class="img-fluid rounded"
                          />
                        </a>
                        <a
                          href="{{ cdn_url}}images/exhibitions/DSC_0071.jpg"
                          data-toggle="lightbox"
                          data-gallery="gallery"
                          class="col-md-4"
                        >
                          <img
                            src="{{ cdn_url}}images/exhibitions/DSC_0071.jpg"
                            class="img-fluid rounded"
                          />
                        </a>
                        <a
                          href="{{ cdn_url}}images/exhibitions/DSC_0072.jpg"
                          data-toggle="lightbox"
                          data-gallery="gallery"
                          class="col-md-4"
                        >
                          <img
                            src="{{ cdn_url}}images/exhibitions/DSC_0072.jpg"
                            class="img-fluid rounded"
                          />
                        </a>
                        <a
                          href="{{ cdn_url}}images/exhibitions/DSC_0073.jpg"
                          data-toggle="lightbox"
                          data-gallery="gallery"
                          class="col-md-4"
                        >
                          <img
                            src="{{ cdn_url}}images/exhibitions/DSC_0073.jpg"
                            class="img-fluid rounded"
                          />
                        </a>
                        <a
                          href="{{ cdn_url}}images/exhibitions/DSC_0074.jpg"
                          data-toggle="lightbox"
                          data-gallery="gallery"
                          class="col-md-4"
                        >
                          <img
                            src="{{ cdn_url}}images/exhibitions/DSC_0074.jpg"
                            class="img-fluid rounded"
                          />
                        </a>
                        <a
                          href="{{ cdn_url}}images/exhibitions/DSC_0075.jpg"
                          data-toggle="lightbox"
                          data-gallery="gallery"
                          class="col-md-4"
                        >
                          <img
                            src="{{ cdn_url}}images/exhibitions/DSC_0075.jpg"
                            class="img-fluid rounded"
                          />
                        </a>
                        <a
                          href="{{ cdn_url}}images/exhibitions/DSC_0076.jpg"
                          data-toggle="lightbox"
                          data-gallery="gallery"
                          class="col-md-4"
                        >
                          <img
                            src="{{ cdn_url}}images/exhibitions/DSC_0076.jpg"
                            class="img-fluid rounded"
                          />
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane fade" id="tab_c">
                    <div class="about-text text-center">
                      <div class="row">
                        <!-- <a
                          href="{{ cdn_url}}images/products/gavo-6.png"
                          data-toggle="lightbox"
                          data-gallery="gallery"
                          class="col-md-4"
                        >
                          <img
                            src="{{ cdn_url}}images/products/gavo-6.png"
                            class="img-fluid rounded"
                          />
                        </a> -->
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane fade" id="tab_d">
                    <div class="about-text text-center">
                      <div class="row">
                        <!-- <a
                          href="{{ cdn_url}}images/products/gavo-14.png"
                          data-toggle="lightbox"
                          data-gallery="gallery"
                          class="col-md-4"
                        >
                          <img
                            src="{{ cdn_url}}images/products/gavo-14.png"
                            class="img-fluid rounded"
                          />
                        </a>
                        <a
                          href="{{ cdn_url}}images/products/gavo-15.png"
                          data-toggle="lightbox"
                          data-gallery="gallery"
                          class="col-md-4"
                        >
                          <img
                            src="{{ cdn_url}}images/products/gavo-15.png"
                            class="img-fluid rounded"
                          />
                        </a>
                        <a
                          href="{{ cdn_url}}images/products/gavo-16.png"
                          data-toggle="lightbox"
                          data-gallery="gallery"
                          class="col-md-4"
                        >
                          <img
                            src="{{ cdn_url}}images/products/gavo-16.png"
                            class="img-fluid rounded"
                          />
                        </a> -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- end container -->
        </div>
      </div>
    </div>

    <!-- Video Modal Start-->

    <!-- Video Modal End -->

    <!-- Footer Start -->
    <div class="footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-5">
            <div class="row">
              <div class="col-md-7">
                <div class="footer-contact">
                  <h2>Our Address</h2>
                  <p>
                    <i class="fa fa-map-marker-alt"></i> Uasin Gishu, 30100,
                    Kenya
                  </p>
                  <!-- <a href="tel:254786338776"><p><i class="fa fa-phone-alt"></i> + 254 786 338 776</p></a> -->
                  <a href="tel:+254702948854"
                    ><p><i class="fa fa-phone-alt"></i>+254 702 948 854</p></a
                  >
                  <a href="mailto:info@gavofoods.co.ke"
                    ><p>
                      <i class="fa fa-envelope"></i>info@gavofoods.co.ke
                    </p></a
                  >
                  <div class="footer-social">
                    <a href="https://twitter.com/Gavofoods" target="_blank"
                      ><i class="fab fa-twitter"></i
                    ></a>
                    <a href="https://facebook.com/GavoFoods/" target="_blank"
                      ><i class="fab fa-facebook-f"></i
                    ></a>
                    <!-- <a href=""><i class="fab fa-youtube"></i></a> -->
                    <a href="https://www.instagram.com/gavo_foods/"
                      ><i class="fab fa-instagram"></i
                    ></a>
                    <a
                      href="https://www.linkedin.com/in/gavofoods-ltd-41594a244/"
                      ><i class="fab fa-linkedin-in"></i
                    ></a>
                  </div>
                </div>
              </div>
              <div class="footer-link">
                <h2>Quick Links</h2>
                <a href="https://shop.gavofoods.co.ke">Shop</a>
                <a href="{% url 'contact' %}">Contact</a>
                <a href="{% url 'blog' %}">Blog</a>
                <!-- <a href="">Help</a> -->
                <!-- <a href="">FQAs</a> -->
              </div>
            </div>
          </div>
          <div class="col-lg-5">
            <div class="footer-newsletter">
              <h2>Newsletter</h2>
              <p>
                Subscribe to our weekly news letter about food and health
                nutrition information and offers.
              </p>
              <div class="form">
                <input class="form-control" placeholder="Enter your email" />
                <button class="btn custom-btn">Submit</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="copyright">
        <div class="container">
          <p>
            Copyright &copy; <span id="copyright-year"></span>
            <a href="{% url 'index-page' %}">GavoFoods</a> | All Rights
            Reserved.
          </p>
        </div>
      </div>
    </div>
    <!-- Footer End -->

    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

    <!-- year updater -->
    <script>
      document.querySelector("#copyright-year").innerText =
        new Date().getFullYear();
    </script>

    <!-- JavaScript Libraries -->
    <script
      type="text/javascript"
      src="{% static 'js/jquery.min.js' %}"
    ></script>
    <script
      type="text/javascript"
      src="{% static 'js/bootstrap.min.js' %}"
    ></script>
    <script src="{% static 'lib/easing/easing.min.js' %}"></script>
    <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'lib/tempusdominus/js/moment.min.js' %}"></script>
    <script src="{% static 'lib/tempusdominus/js/moment-timezone.min.js' %}"></script>
    <script src="{% static 'lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js' %}"></script>

    <!-- Contact Javascript File -->
    <script src="{% static 'mail/jqBootstrapValidation.min.js' %}"></script>
    <script src="{% static 'mail/contact.js' %}"></script>

    <!-- Template Javascript -->
    <script src="{% static 'js/main.js' %}"></script>
    <!-- whatspp -->
    <script src="{% static 'js/whatsapp/chat.js' %}"></script>
    <script
      src="https://kit.fontawesome.com/c959104830.js"
      crossorigin="anonymous"
    ></script>
    <script>
      $(document).on("click", '[data-toggle="lightbox"]', function (event) {
        event.preventDefault();
        $(this).ekkoLightbox();
      });
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js"></script>
  </body>
</html>
