{% load static%}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <!-- <meta content="width=device-width, initial-scale=1.0" name="viewport"> -->
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <meta content="gluten-free, nutritious, coeliac diseases, diabetes, malnutrition, and bread" name="keywords" />
  <meta
    content="A food manufacturing company based in Uasin Gishu, Kenya that produces gluten-free flours and bread. Our products are gluten-free and highly nutritious, best for management of chronic diseases particularly coeliac diseases, diabetes and malnutrition"
    name="description" />

  {%if title%}
  <!-- <title>GavoFoods-{{title}}</title> -->
  <title>GavoFoods | Gluten Free Keto Organic</title>
  {% else%}
  <title>GavoFoods | Gluten free keto organic</title>
  {%endif%}

  <!-- favicon -->
  <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon" />

  <!-- Google Font -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400|Nunito:600,700" rel="stylesheet" />

  <!-- CSS Libraries -->
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />
  <link href="{% static 'css/achievements.css' %}" rel="stylesheet" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet" />
  <link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet" />
  <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet" />
  <link href="{% static 'flaticon/font/flaticon.css' %}" rel="stylesheet" />
  <link href="{% static 'lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css' %}" rel="stylesheet" />

  <!-- Template Stylesheet -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet" />
  <link href="{% static 'css/about.css' %}" rel="stylesheet" />

  <!-- Template Stylesheet -->
  <link href="{% static 'css/products.css' %}" rel="stylesheet">
  <style>
    /* @import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap'); */

    /* body{
      min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #f2f2f2;
}
h1{
  color: #1c68b3 ;
  font-size:clamp(2.5rem, 10vw, 5rem);
  font-family: 'Parisienne', cursive;
} */
    .card-pink {
      border-radius: 6px;
      border-bottom: 4px solid #83b828 !important;
    }

    .card-blue {
      border-radius: 6px;
      border-bottom: 4px solid #750922 !important;
    }

    .col .card img {
      aspect-ratio: 1 / 1;
      object-fit: cover;
    }

    .card-body {
      padding: 1rem 1.5rem;
    }

    .card-body p {
      color: #4b5563;
    }

    .card-blue svg {
      fill: #750922;
    }

    .card-pink svg {
      fill: #83b828;
    }

    .card-blue .card-footer p {
      color: #750922;
    }

    .card-pink .card-footer p {
      color: #83b828;
    }

    .card-shape {
      position: relative;
    }

    .custom-shape-divider-bottom-1634717805 {
      position: absolute;
      bottom: -1px;
      left: 0;
      width: 100%;
      overflow: hidden;
      line-height: 0;
      transform: rotate(180deg);
    }

    .custom-shape-divider-bottom-1634717805 svg {
      position: relative;
      display: block;
      width: 100%;
      height: 50px;
    }

    .custom-shape-divider-bottom-1634717805 .shape-fill {
      fill: #ffffff;
    }
  </style>
  <style>
    .partner-logos {
      display: flex;
      flex-wrap: wrap;
    }

    .partner-logos .order-1 {
      order: -1;
    }
  </style>
  <style>
    @keyframes scroll {
      0% {
        transform: translateX(0);
      }

      100% {
        transform: translateX(calc(-250px * 7));
      }
    }

    .slider {
      height: 100px;
      margin: auto;
      overflow: hidden;
      position: relative;
      width: auto;
    }

    .slider .slide-track {
      animation: scroll 40s linear infinite;
      display: flex;
      width: calc(250px * 14);
    }

    .slider .slide {
      height: 100px;
      width: 250px;
    }
  </style>
</head>

<body>
  <!-- Nav Bar Start -->
  <div class="navbar navbar-expand-lg bg-light navbar-light">
    <div class="container-fluid">
      <div id="logo" class="one_quarter first">
        <a href="{% url 'index-page' %}" class="navbar-brand"><img src="{{ cdn_url }}images/logogavo.webp"
            alt="GavoFoods" /></a>
        <!-- <a>GavoFoods</a> From top -->
        <!-- <p class="gfree">Nutritious & Gluten-free</p> -->
      </div>
      <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
        <div class="navbar-nav ml-auto">
          <a href="{% url 'index-page' %}" class="nav-item nav-link active">Home</a>
          <div class="nav-item dropdown">
            <a href="javascript:void(0)" class="nav-link dropdown-toggle" data-toggle="dropdown">About</a>
            <div class="dropdown-menu">
              <a href="{% url 'about' %}" class="dropdown-item">About Us</a>
              <a href="{% url 'team' %}" class="dropdown-item">Our Team</a>
            </div>
          </div>
          <!-- <div class="nav-item dropdown"> -->
          <a href="https://shop.gavofoods.co.ke/shop" class="nav-item nav-link">Products</a>
          <a href="{% url 'services' %}" class="nav-item nav-link">Services</a>
          <a href="{% url 'gallery' %}" class="nav-item nav-link">Gallery</a>
          <a href="{% url 'careers' %}" class="nav-item nav-link">Careers</a>
                    <!-- class="nav-link dropdown-toggle" data-toggle="dropdown" -->
          <!-- <div class="dropdown-menu">
                <a
                  href="https://shop.gavofoods.co.ke/shop"
                  class="dropdown-item"
                  >Flours</a
                >
                <a href="{% url 'baked-products' %}" class="dropdown-item"
                  >Bread&Snacks</a
                >
              </div> -->
          <!-- </div> -->
          <!-- <a href="{% url 'team' %}" class="nav-item nav-link">Our Team</a> -->
          <a href="{% url 'contact' %}" class="nav-item nav-link">Contact</a>
          <a href="{% url 'blog' %}" class="nav-item nav-link">Blog</a>
          <a href="https://shop.gavofoods.co.ke/cart/" class="nav-item nav-link"><i
              class="fa-solid fa-bag-shopping fa-lg" style="color: #fdd700;"></i> Cart</a>
          <!-- {% if user.is_authenticated %}
                    <a href="{% url 'logout' %}" class="nav-item nav-link">Logout</a>
                    {% else %}
                    <a href="{% url 'signup' %}" class="nav-item nav-link">Register</a>
                    <a href="{% url 'login' %}" class="nav-item nav-link">Login</a>
                    {% endif %} -->
        </div>
      </div>
    </div>
  </div>
  <!-- Nav Bar End -->

  <!-- Carousel Start -->
  <div class="carousel">
    <div class="container-fluid">
      <div class="owl-carousel">
        <div class="carousel-item">
          <div class="carousel-img">
            <img src="{{ cdn_url }}images/img/gavo/DSC_0069.jpg" alt="Image" />
          </div>
          <div class="carousel-text">
            <h1>Gavo <span>Foods</span> International</h1>
            <p>
              GavoFoods International is Manufacturing Company which produces
              gluten-free flours and bread.
            </p>
            <div class="carousel-btn">
              <a class="btn custom-btn" href="https://shop.gavofoods.co.ke/shop">View Products</a>
              <a class="btn custom-btn" href="https://shop.gavofoods.co.ke/shop">Shop Now</a>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="carousel-img">
            <img src="{{ cdn_url }}images/img/gavo/DSC_0071.jpg" alt="Image" />
          </div>
          <div class="carousel-text">
            <h1>Healthy and<span> Nutritious</span> Products</h1>
            <p>
              Our products are gluten-free and highly nutritious best for
              management of chronic diseases particularly coeliac diseases,
              diabetes and malnutrition.
            </p>
            <div class="carousel-btn">
              <a class="btn custom-btn" href="https://shop.gavofoods.co.ke/shop">View Products</a>
              <a class="btn custom-btn" href="https://shop.gavofoods.co.ke/shop">Make an Order</a>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="carousel-img">
            <img src="{{ cdn_url }}images/img/gavo/DSC_0073.jpg" alt="Image" />
          </div>
          <div class="carousel-text">
            <h1>Food Quality <span>and Safety</span> Compliant</h1>
            <p>
              Our products are certified by Kenya Bureau Of Standards (KEBS)
            </p>
            <div class="carousel-btn">
              <a class="btn custom-btn" href="https://shop.gavofoods.co.ke/shop">View Products</a>
              <a class="btn custom-btn" href="https://shop.gavofoods.co.ke/shop">Make an Order</a>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="carousel-img">
            <img src="{{ cdn_url }}images/img/pexels-mikhail-nilov-8093574.webp" alt="" />
          </div>
          <div class="carousel-text">
            <h1>
              Nutritious, <span>gluten-free products</span> gluten-free
              products
            </h1>
            <p>
             Our products are certified by Kenya Bureau Of Standards (KEBS)
            </p>
            <div class="carousel-btn">
              <a class="btn custom-btn" href="https://shop.gavofoods.co.ke/shop">View Products</a>
              <a class="btn custom-btn" href="https://shop.gavofoods.co.ke/shop">Make an Order</a>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="carousel-img">
            <img src="{{ cdn_url }}images/img/pexels-klaus-nielsen-6287223 (1).webp" alt="Image" />
          </div>
          <div class="carousel-text">
            <h1>Food Quality <span>and Safety</span> Compliant</h1>
            <p>
              Our products are certified by Kenya Bureau Of Standards (KEBS)
            </p>
            <div class="carousel-btn">
              <a class="btn custom-btn" href="https://shop.gavofoods.co.ke/shop">View Products</a>
              <a class="btn custom-btn" href="https://shop.gavofoods.co.ke/shop">Make an Order</a>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
  <!-- Carousel End -->

  <!-- About Start -->
  <div class="about">
    <div class="container">
      <div class="section-header text-center">
        <h3>Our Products</h3>
        <p>Featured Products</p>
      </div>
      <!-- <div class="row">
        {%for product in products%}
        <div class="col-md-3 col-6 col-sm-6 p">
            <div class="card card-block">
                <h4 class="card-title text-center">{{product.name}}</h4>
                <img src="{% static 'images/products/gavo-13.png' %}" alt="" style="width: 100; height: 30vh;">
                <div class="card-text">
                    <p>{{product.description|safe |truncatechars:65 }}</p>
                </div>
                <div class="card-footer">
                    <span class="float-left"><a href="{% url 'flour-product-detail' product.id %}"
                            data-toggle="tooltip" data-placement="top" title="Add to Cart">
                            <i class="fas fa-shopping-cart"></i></a>
                    </span>
                    <span class="float-right"><a href="{% url 'flour-product-detail' product.id %}"
                            data-toggle="tooltip" data-placement="top" title="Add to Cart"><i
                                class="fas fa-angle-right">Read more</i><i class="fas fa-angle-right"></i></a>
                    </span>
                </div>

            </div>
        </div>
        {%endfor%}
    </div> -->
    <div class="row">
        
      <div class="col-md-3 col-6 col-sm-6 p">
          <div class="card card-block">
              <h4 class="card-title text-center">All Purpose Flour</h4>
              <img src="{{ cdn_url}}2024/all_purpose_two.webp" alt="" style="width: 100; height: 30vh;">
              <div class="card-text">
                  <p></p><p>Healthy and nutritious green banana flour made from the flesh…</p>
              </div>
              <div class="card-footer">
                  <span class="float-left"><a href="https://shop.gavofoods.co.ke/product/all-purpose-flour/" data-toggle="tooltip" data-placement="top" title="Add to Cart">
                          <i class="fas fa-shopping-cart" aria-hidden="true"></i></a>
                  </span>
                  <span class="float-right"><a href="https://shop.gavofoods.co.ke/product/all-purpose-flour/" data-toggle="tooltip" data-placement="top" title="Add to Cart"><i class="fas fa-angle-right" aria-hidden="true">Buy Now !</i><i class="fas fa-angle-right" aria-hidden="true"></i></a>
                  </span>
              </div>

          </div>
      </div>
      
      <div class="col-md-3 col-6 col-sm-6 p">
          <div class="card card-block">
              <h4 class="card-title text-center">Black Pepper</h4>
              <img src="{{ cdn_url}}images/products/gavo-5.png" alt="" style="width: 100; height: 30vh;">
              <div class="card-text">
                  <p></p><p>Low calorie and high vitamin cauliflower flour made from caul…</p>
              </div>
              <div class="card-footer">
                  <span class="float-left"><a href="https://shop.gavofoods.co.ke/product/black-pepper/" data-toggle="tooltip" data-placement="top" title="Add to Cart">
                          <i class="fas fa-shopping-cart" aria-hidden="true"></i></a>
                  </span>
                  <span class="float-right"><a href="https://shop.gavofoods.co.ke/product/black-pepper/" data-toggle="tooltip" data-placement="top" title="Add to Cart"><i class="fas fa-angle-right" aria-hidden="true">Buy Now !</i><i class="fas fa-angle-right" aria-hidden="true"></i></a>
                  </span>
              </div>

          </div>
      </div>
      
      <div class="col-md-3 col-6 col-sm-6 p">
          <div class="card card-block">
              <h4 class="card-title text-center">Children Porridge</h4>
              <img src="{{ cdn_url}}2024/kiddi_ujitwo.webp" alt="" style="width: 100; height: 30vh;">
              <div class="card-text">
                  <p></p><p>Healthy and nutritious avocado flour made from super nutritio…</p>
              </div>
              <div class="card-footer">
                  <span class="float-left"><a href="https://shop.gavofoods.co.ke/product/children-porridge/" data-toggle="tooltip" data-placement="top" title="Add to Cart">
                          <i class="fas fa-shopping-cart" aria-hidden="true"></i></a>
                  </span>
                  <span class="float-right"><a href="https://shop.gavofoods.co.ke/product/children-porridge/" data-toggle="tooltip" data-placement="top" title="Add to Cart"><i class="fas fa-angle-right" aria-hidden="true">Buy Now !</i><i class="fas fa-angle-right" aria-hidden="true"></i></a>
                  </span>
              </div>

          </div>
      </div>
      
      <div class="col-md-3 col-6 col-sm-6 p">
          <div class="card card-block">
              <h4 class="card-title text-center">Ginger</h4>
              <img src="{{ cdn_url}}images/products/gavo-9.png" alt="" style="width: 100; height: 30vh;">
              <div class="card-text">
                  <p></p><p>Low calorie but&nbsp; high vitamin and minerals cucumber powd…</p>
              </div>
              <div class="card-footer">
                  <span class="float-left"><a href="https://shop.gavofoods.co.ke/product/ginger/" data-toggle="tooltip" data-placement="top" title="Add to Cart">
                          <i class="fas fa-shopping-cart" aria-hidden="true"></i></a>
                  </span>
                  <span class="float-right"><a href="https://shop.gavofoods.co.ke/product/ginger/" data-toggle="tooltip" data-placement="top" title="Add to Cart"><i class="fas fa-angle-right" aria-hidden="true">Buy Now !</i><i class="fas fa-angle-right" aria-hidden="true"></i></a>
                  </span>
              </div>

          </div>
      </div>
      
      <div class="col-md-3 col-6 col-sm-6 p">
          <div class="card card-block">
              <h4 class="card-title text-center">Hibiscus</h4>
              <img src="{{ cdn_url}}2024/hibiscus.webp" alt="" style="width: 100; height: 30vh;">
              <div class="card-text">
                  <p></p><p>Healthy and nutritious high mineral and&nbsp; high vitamin fl…</p>
              </div>
              <div class="card-footer">
                  <span class="float-left"><a href="https://shop.gavofoods.co.ke/product/hibiscus/" data-toggle="tooltip" data-placement="top" title="Add to Cart">
                          <i class="fas fa-shopping-cart" aria-hidden="true"></i></a>
                  </span>
                  <span class="float-right"><a href="https://shop.gavofoods.co.ke/product/hibiscus/" data-toggle="tooltip" data-placement="top" title="Add to Cart"><i class="fas fa-angle-right" aria-hidden="true">Buy Now !</i><i class="fas fa-angle-right" aria-hidden="true"></i></a>
                  </span>
              </div>

          </div>
      </div>
      
      <div class="col-md-3 col-6 col-sm-6 p">
          <div class="card card-block">
              <h4 class="card-title text-center">Honey</h4>
              <img src="{{ cdn_url}}images/products/gavo-13.png" alt="" style="width: 100; height: 30vh;">
              <div class="card-text">
                  <p></p><p>Healthy and nutritious flour delicately and hygenically made …</p>
              </div>
              <div class="card-footer">
                  <span class="float-left"><a href="https://shop.gavofoods.co.ke/product/honey/" data-toggle="tooltip" data-placement="top" title="Add to Cart">
                          <i class="fas fa-shopping-cart" aria-hidden="true"></i></a>
                  </span>
                  <span class="float-right"><a href="https://shop.gavofoods.co.ke/product/honey/" data-toggle="tooltip" data-placement="top" title="Add to Cart"><i class="fas fa-angle-right" aria-hidden="true">Buy Now !</i><i class="fas fa-angle-right" aria-hidden="true"></i></a>
                  </span>
              </div>

          </div>
      </div>
      
      <div class="col-md-3 col-6 col-sm-6 p">
          <div class="card card-block">
              <h4 class="card-title text-center">Sour Porridge</h4>
              <img src="{{ cdn_url}}2024/sour.webp" alt="" style="width: 100; height: 30vh;">
              <div class="card-text">
                  <p></p><p>Nutritious paw paw flour delicately made from the sweet tropi…</p>
              </div>
              <div class="card-footer">
                  <span class="float-left"><a href="https://shop.gavofoods.co.ke/product/sour-porridge/" data-toggle="tooltip" data-placement="top" title="Add to Cart">
                          <i class="fas fa-shopping-cart" aria-hidden="true"></i></a>
                  </span>
                  <span class="float-right"><a href="https://shop.gavofoods.co.ke/product/sour-porridge/" data-toggle="tooltip" data-placement="top" title="Add to Cart"><i class="fas fa-angle-right" aria-hidden="true">Buy Now !</i><i class="fas fa-angle-right" aria-hidden="true"></i></a>
                  </span>
              </div>

          </div>
      </div>
      
      <div class="col-md-3 col-6 col-sm-6 p">
          <div class="card card-block">
              <h4 class="card-title text-center">Tea Masala</h4>
              <img src="{{ cdn_url}}2024/tea_masala.webp" alt="" style="width: 100; height: 30vh;">
              <div class="card-text">
                  <p></p><p>Highly nutritious and sweet flour delicately and hygenically …</p>
              </div>
              <div class="card-footer">
                  <span class="float-left"><a href="https://shop.gavofoods.co.ke/product/tea-masala/" data-toggle="tooltip" data-placement="top" title="Add to Cart">
                          <i class="fas fa-shopping-cart" aria-hidden="true"></i></a>
                  </span>
                  <span class="float-right"><a href="https://shop.gavofoods.co.ke/product/tea-masala/" data-toggle="tooltip" data-placement="top" title="Add to Cart"><i class="fas fa-angle-right" aria-hidden="true">Buy Now !</i><i class="fas fa-angle-right" aria-hidden="true"></i></a>
                  </span>
              </div>

          </div>
      </div>

      <div class="col-md-3 col-6 col-sm-6 p">
        <div class="card card-block">
            <h4 class="card-title text-center">Therapeutic Uji Flour</h4>
            <img src="{{ cdn_url}}2024/therapeutic_uji.webp" alt="" style="width: 100; height: 30vh;">
            <div class="card-text">
                <p></p><p>Highly nutritious and sweet flour delicately and hygenically …</p>
            </div>
            <div class="card-footer">
                <span class="float-left"><a href="https://shop.gavofoods.co.ke/product/tea-masala/" data-toggle="tooltip" data-placement="top" title="Add to Cart">
                        <i class="fas fa-shopping-cart" aria-hidden="true"></i></a>
                </span>
                <span class="float-right"><a href="https://shop.gavofoods.co.ke/product/tea-masala/" data-toggle="tooltip" data-placement="top" title="Add to Cart"><i class="fas fa-angle-right" aria-hidden="true">Buy Now !</i><i class="fas fa-angle-right" aria-hidden="true"></i></a>
                </span>
            </div>

        </div>
    </div>
      
  </div>
    </div>

    <div class="food">
      <div class="container">
        <div class="section-header text-center">
          <!-- <h2>Our Products</h2> -->
          <p>Product Categories</p>
        </div>
        <div class="row align-items-center">
          <div class="col-md-4">
            <div class="food-item">
              <i class="flaticon-medal"></i>
              <h2>Gluten-free flours</h2>
              <p>A variety of nutritious, healthy, affordable and readily available gluten-free flour.</p>
              <a href="https://shop.gavofoods.co.ke/shop">View products</a>
            </div>
          </div>
          <div class="col-md-4">
            <div class="food-item">
              <i class="flaticon-cooking"></i>
              <h2>Healthy Snacks Shop</h2>
              <p>Starting a gluten free diet is a lifestyle choice that individuals make for many reasons; there are several benefits of a gluten free diet. We have a variety of snacks ranging from cookies, crisps, crackles and factional foods like bread and pasta. Try us today to begin your healthy journey.</p>
              <a href="https://shop.gavofoods.co.ke/shop">View products</a>
            </div>
          </div>
          <div class="col-md-4">
            <div class="food-item">
              <i class="flaticon-fast-food"></i>
              <h2>Honey shop</h2>
              <p>Our Honey is sourced from Baringo County, it's 100% organic obtained from acacia Flowers. An excellent natural detoxifier, it's perfect for the liver and intestines.</p>
              <a href="javascript:;">View service</a>
            </div>
          </div>
          <div class="col-md-4">
            <div class="food-item">
              <i class="flaticon-fast-food"></i>
              <h2>Powders and soups shop</h2>
              <p>Soup powder is used as a flavor enhancer to bring flavorful dishes, use for marinating foods before cooking, seasoning soup, broths, It is suitable for Vegetarian. Product brings a tasty dish, used to marinate foods before cooking, tasting broths, soups, broths etc. The product is packed for your convenience when used as well as stored.</p>
              <a href="javascript:;">View service</a>
            </div>
          </div>
          <div class="col-md-4">
            <div class="food-item">
              <i class="flaticon-fast-food"></i>
              <h2>Spice Shop</h2>
              <p>For centuries, spices have been used in foods as medicine. Not only do spices help add taste, flavor and color, consumption of spices has a plethora of health benefits. They possess anti-bacterial and antifungal properties, and also act as antioxidants. They help fight off various infections, and are known for boosting the immune system.</p>
              <a href="javascript:;">View service</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- About End -->

  <!-- Video Modal Start-->
  <div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <!-- 16:9 aspect ratio -->
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="" id="video" allowscriptaccess="always"
              allow="autoplay"></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Video Modal End -->
  <!-- Food Start -->

  <!-- Feature Start -->
  <div class="feature">
    <div class="container">
      <div class="row">
        <div class="col-lg-5">
          <div class="section-header">
            <p>Why Us</p>
            <!-- <h2>Our Key products</h2> -->
          </div>
          <div class="feature-text">
            <div class="feature-img">
              <div class="row">
                <div class="col-6">
                  <img src="{% static 'images/products/gavo-13.png' %}" alt="Image" />
                </div>
                <div class="col-6">
                  <img src="{% static 'images/products/gavo-11.png' %}" alt="Image" />
                </div>
                <div class="col-6">
                  <img src="{% static 'images/products/gavo-4.png' %}" alt="Image" />
                </div>
                <div class="col-6">
                  <img src="{% static 'images/products/gavo-8.png' %}" alt="Image" />
                </div>
              </div>
            </div>
            <p>
              Our products are uniquely creative in nature, customer centered solving 90% of health-related problems.
We are a one stop shop that can serve different meal times such as breakfast, lunch and supper.
            </p>
            <a class="btn custom-btn" href="https://shop.gavofoods.co.ke/shop">Make an Order</a>
          </div>
        </div>
        <div class="col-lg-7">
          <div class="row">
            <div class="col-sm-6">
              <div class="feature-item">
                <i class="flaticon-vegetable"></i>
                <h3>Natural raw materials</h3>
                <p>
                  Our gluten-free flour are delicately produced from freshest
                  local materials. We take the pride in providing our
                  customers with the goodness of distinctive health and
                  quality gluten-free flour and bread served fresh through our
                  expert quality manufacturing and packaging technology that
                  we continue to develop and improve.
                </p>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="feature-item">
                <i class="flaticon-medal"></i>
                <h3>Food quality and safety compliant</h3>
                <p>
                  We are compliant with the national standards as well as
                  International standards-legislation and standardization
                  bodies(FDA, gluten free, Kosher and halal standards),
                  International standards –the international organization for
                  standardization (ISO) Codex Alimentarious Commission (CAC)
                </p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="feature-item">
                <i class="flaticon-cooking"></i>
                <h3>Professional Bakers</h3>
                <p>
                  We have professional bakers and chefs who puts their and
                  dedicate their utmost best and produce the best qaulity,
                  gluten-free and fulfilling snacks and varieties of bread.
                  Check what our customers say about us and our products.
                </p>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="feature-item">
                <i class="flaticon-courier"></i>
                <h3>Fast delivery</h3>
                <p>
                  Purchases are automated and processed immediately once you
                  confirm your payment and your order is worked on. We strive
                  to deliver products within three working days for local
                  customers. Our shipping partners delivers products within 10
                  working for International orders.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="about-us" class="about">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <div class="about-img">
            <img src="{% static 'images/products/gavo.png' %}" alt="" />
          </div>
        </div>
        <div class="col-lg-6">
          <div class="about-content">
            <div class="section-header">
              <p>About Us</p>
              <!-- <h2>About Us</h2> -->
            </div>
            <div class="about-text">
              <p>GavoFoods was founded by two inspired women who are passionate about organic food farming and traditional diets. Our primary focus is producing gluten free-keto organic flours, Honey, Assorted spices, juices, seed oils etc that will serve the needs and healthy requirements for people of all age groups, people on diet and weight management and lifestyle diverse backgrounds. <br><br> Our products are uniquely creative in nature; customer centered solving 90% of health related problems. <a href="{% url 'about' %}">Read More</a></p>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
  <!-- About End -->
  <!-- pillars -->
  <div id="about" class="section">
    <div class="container mt-3">
      <div class="row">
        <div class="col-md-12">
          <div class="section-header">
            <h3 class="text-center">Our Pillars</h3>
          </div>
          <div class="tab-content mt-3">
            <div class="tab-pane fade show active" id="tab_a">
              <div class="about-text text-center">
                <p>Customer focus-We are committed in producing quality natural and organic food products with no additives and preservatives.
                  Innovation-creating novelty and variety of traditional food products.
                  </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end container -->
  </div>
  <!-- vision mission values -->
  <div id="about" class="section">
    <div class="container mt-3">
      <div class="row">
        <div class="col-md-12">
          <div class="section-header">
            <h3 class="text-center">Our Vision & Mission</h3>
          </div>
          <ul class="nav nav-pills nav-justified" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" href="#tab_a" data-toggle="tab">Our Vision</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#tab_b" data-toggle="tab">Our Mission</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#tab_c" data-toggle="tab">Our Values</a>
            </li>
          </ul>
          <div class="tab-content mt-3">
            <div class="tab-pane fade show active" id="tab_a">
              <div class="about-text text-center">
                <p>To be the powerhouse of gluten free-keto organic food products.
                </p>
              </div>
            </div>
            <div class="tab-pane fade" id="tab_b">
              <div class="about-text text-center">
                <p>
                  To be a Centre of innovative agri foods value addition in Kenya and beyond.
                </p>
              </div>
            </div>
            <div class="tab-pane fade" id="tab_c">
              <div class="about-text text-center">
                <p>
                  <li>Passion and Innovation</li>
                  <li>Integrity and accountability</li>
                  <li>Honesty and Customer commitment</li>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end container -->
  </div>
  <!-- end section -->

  <!-- Food Start -->
  <!-- <div class="food mt-0">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-4">
          <div class="food-item">
            <i class="fas fa-bread-slice"></i>
            <h2>Cakes&Bread</h2>
            <p>
              At our cafe, we serve a variety of nutritious, healthy,
              affordable and readily available gluten-free bread fresh from
              oven.
            </p>
            <a href="">View Menu</a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="food-item">
            <i class="flaticon-snack"></i>
            <h2>Snacks</h2>
            <p>
              Welcome to our cafe to experience a distinct taste of fresh,
              nutritious and healthy gluten-free snacks.
            </p>
            <a href="">View Menu</a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="food-item">
            <i class="flaticon-cocktail"></i>
            <h2>Beverages</h2>
            <p>
              Welcome to our cafe to experience a distinct taste of bevarages
              served with our fresh, nutritious and healthy gluten-free
              products.
            </p>
            <a href="">View Menu</a>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <!-- Food End -->
  <!-- start achievements -->
  <section class="achievements">
  <div class="section-header text-center">
        <!-- <p>Our Partners</p> -->
        <h3>Our Achievements</h3>
      </div>
    <!-- <h2>Our Achievements</h2> -->
    <ul>
      <li><strong>5,000</strong>Number of customers</li>
      <li><strong>40</strong>Counties Reached</li>
      <li><strong>20</strong>Number of Exhibitions</li>
      <li><strong>10</strong>Awards Won</li>
      <li><strong>4</strong>Farmer groups</li>
    </ul>
  </section>
  <!-- start achievements -->
  <!-- partners start -->
  <div class="partners">
    <div class="container">
      <div class="section-header text-center">
        <!-- <p>Our Partners</p> -->
        <h3>Our Partners</h3>
      </div>
      <div class="slider">
        <div class="slide-track">
          <div class="slide">
            <a href="http://plusfarmkenya.co.ke" target="_blank" rel="noopener noreferrer"><img
                src="{{ cdn_url }}images/img/partners/PlusFarm-Logo-medium-1536x587k.png" height="68" width="212"
                alt="" /></a>
          </div>
          <div class="slide">
            <a href="http://msea.go.ke" target="_blank" rel="noopener noreferrer"><img
                src="{{ cdn_url }}images/img/partners/msea-logo.png" height="50" width="235" alt="" /></a>

          </div>
          <div class="slide">
            <a href="https://www.must.ac.ke/" target="_blank" rel="noopener noreferrer"><img
                src="{{ cdn_url }}images/img/partners/logo4_png_version.fw_.png" height="62" width="245" alt="" /></a>

          </div>
          <div class="slide">
            <a href="https://www.innovationagency.go.ke/" target="_blank" rel="noopener noreferrer"><img
                src="{{ cdn_url }}images/img/partners/6TFb6fGYg5SdG_zt.png" height="76" width="219" alt="" /></a>

          </div>
          <div class="slide">
            <a href="https://www.eldohub.co.ke/" target="_blank" rel="noopener noreferrer"><img
                src="{{ cdn_url}}images/img/partners/eldohub1.png" height="73" width="240" alt="" /></a>
          </div>
          <div class="slide">
            <a href="https://raeng.org.uk/" target="_blank" rel="noopener noreferrer"><img
                src="{{ cdn_url}}images/img/partners/giz_Kenya_logo-300x118.webp" height="100" width="250" alt="" /></a>
          </div>
          <div class="slide">
            <a href="https://raeng.org.uk/" target="_blank" rel="noopener noreferrer"><img
                src="{{ cdn_url}}images/img/partners/Royal-Academy-Logo_Leaders-in-Innovation-Fellowships_Black-Text-1-1536x209.png"
                height="30" width="219" alt="" /></a>
          </div>
          <div class="slide">
            <a href="https://kepsa.or.ke/" target="_blank" rel="noopener noreferrer"><img
                src="{{ cdn_url }}images/img/partners/KEPSA%20LOGO%20for%20website.png" height="93" width="91"
                alt="" /></a>
          </div>
          <div class="slide">
            <a href="https://plusfarmkenya.co.ke/" target="_blank" rel="noopener noreferrer"><img
                src="{{ cdn_url }}images/img/partners/PlusFarm-Logo-medium-1536x587k.png" height="68" width="212"
                alt="" /></a>
          </div>
          <div class="slide">
            <a href="http://msea.go.ke" target="_blank" rel="noopener noreferrer"><img
                src="{{ cdn_url }}images/img/partners/msea-logo.png" height="50" width="235" alt="" /></a>
          </div>
          <div class="slide">
            <a href="https://www.must.ac.ke/" target="_blank" rel="noopener noreferrer"><img
                src="{{ cdn_url }}images/img/partners/logo4_png_version.fw_.png" height="64" width="253" alt="" /></a>
          </div>
          <div class="slide">
            <a href="https://www.innovationagency.go.ke/" target="_blank" rel="noopener noreferrer"><img
                src="{{ cdn_url }}images/img/partners/6TFb6fGYg5SdG_zt.png" height="76" width="219" alt="" /></a>
          </div>
          <div class="slide">
            <a href="https://www.eldohub.co.ke/" target="_blank" rel="noopener noreferrer"><img
                src="{{ cdn_url}}images/img/partners/eldohub1.png" height="73" width="240" alt="" /></a>
          </div>
          <div class="slide">
            <a href="https://raeng.org.uk/" target="_blank" rel="noopener noreferrer"><img
                src="{{ cdn_url}}images/img/partners/giz_Kenya_logo-300x118.webp" height="100" width="250" alt="" /></a>
          </div>
          <div class="slide">
            <a href="https://raeng.org.uk/" target="_blank" rel="noopener noreferrer"><img
                src="{{ cdn_url}}images/img/partners/Royal-Academy-Logo_Leaders-in-Innovation-Fellowships_Black-Text-1-1536x209.png"
                height="30" width="219" alt="" /></a>
          </div>
        </div>
      </div>
    </div>
    <!-- partners end -->
    <!-- Footer Start -->
    <!-- Testimonial Start -->
    <div class="testimonial">
      <div class="container">
        <div class="section-header text-center">
          <h3>What people say about our products</h3>
        </div>
        <div class="owl-carousel testimonials-carousel">
          <div class="testimonial-item">
            <div class="testimonial-img">
              <img src="{% static 'images/person1.jpg' %}" alt="Image" />
            </div>
            <p>
              <i class="fas fa-quote-left pr-2"></i>"I have diabetes, heart
              disease and high blood pressure. Now that I have been using your
              bread I can enjoy toast for breakfast or a sandwich for lunch or a
              snack! It is tasty and filling, and it is low glycemic!"
            </p>
            <h2>Johnstone Kimani</h2>
          </div>
          <div class="testimonial-item">
            <div class="testimonial-img">
              <img src="{% static 'images/testimonial-1.jpg' %}" alt="Image" />
            </div>
            <p>
              <i class="fas fa-quote-left pr-2"></i>"I am writing just to "Thank
              You" for making such wonderful quality products. I especially
              love-love-love "Ezekiel 4:9® 100% gluten-free bread", the taste is
              the best, it satisfies and as always no sugar/low sodium. Thank
              you again — from one grateful customer."
            </p>
            <h2>Sally Johns</h2>
          </div>
          <div class="testimonial-item">
            <div class="testimonial-img">
              <img src="{% static 'images/testimonial-4.jpg' %}" alt="Image" />
            </div>
            <p>
              <i class="fas fa-quote-left pr-2"></i>Thank you for your Gluten
              Free products. My children feel much closer to normal (as they
              say) now that they can enjoy some of the same things their friends
              eat.
            </p>
            <h2>Paul Jakes</h2>
          </div>
          <div class="testimonial-item">
            <div class="testimonial-img">
              <img src="{% static 'images/person2.jpg' %}" alt="Image" />
            </div>
            <p>
              <i class="fas fa-quote-left pr-2"></i>Your Gluten Free breads
              truly make me feel lighter and uplifted.
            </p>
            <h2>Salome Habib</h2>
          </div>
        </div>
      </div>
    </div>
    <!-- Testimonial End -->
    <div class="footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-5">
            <div class="row">
              <div class="col-md-7">
                <div class="footer-contact">
                  <h2>Our Address</h2>
                  <p>
                    <i class="fa fa-map-marker-alt"></i> Uasin Gishu, 30100,
                    Kenya
                  </p>
                  <!-- <a href="tel:254786338776"><p><i class="fa fa-phone-alt"></i> + 254 786 338 776</p></a> -->
                  <a href="tel:+254702948854">
                    <p><i class="fa fa-phone-alt"></i>+254 702 948 854</p>
                  </a>
                  <a href="mailto:info@gavofoods.co.ke">
                    <p>
                      <i class="fa fa-envelope"></i>info@gavofoods.co.ke
                    </p>
                  </a>
                  <div class="footer-social">
                    <a href="https://twitter.com/gavofoodsltd" target="_blank"><i class="fab fa-twitter"></i></a>
                    <a href="https://facebook.com/GavoFoods/" target="_blank"><i class="fab fa-facebook-f"></i></a>
                    <!-- <a href=""><i class="fab fa-youtube"></i></a> -->
                    <a href="https://www.instagram.com/gavo_foods/"><i class="fab fa-instagram"></i></a>
                    <a href="https://www.linkedin.com/in/gavofoods-ltd-41594a244/"><i
                        class="fab fa-linkedin-in"></i></a>
                  </div>
                </div>
              </div>
              <div class="col-md-5">
                <div class="footer-link">
                  <h2>Quick Links</h2>
                  <a href="https://shop.gavofoods.co.ke/shop">Shop</a>
                  <a href="{% url 'contact' %}">Contact</a>
                  <a href="{% url 'blog' %}">Blog</a>
                  <!-- <a href="">FQAs</a> -->
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-5">
            <div class="footer-newsletter">
              <h2>Newsletter</h2>
              <p>
                Subscribe to our weekly news letter about food and health
                nutrition information and offers.
              </p>
              <div class="form">
                <input class="form-control" placeholder="Enter your email" />
                <button class="btn custom-btn">Submit</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="copyright">
        <div class="container">
          <p>
            Copyright &copy; <span id="copyright-year"></span>
            <a href="{% url 'index-page' %}">GavoFoods</a> | All Rights
            Reserved.
          </p>
        </div>
      </div>
    </div>
    <!-- Footer End -->
    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
    <!-- year updater -->
    <script>
      document.querySelector("#copyright-year").innerText =
        new Date().getFullYear();
    </script>

    <!-- JavaScript Libraries -->
    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'lib/easing/easing.min.js' %}"></script>
    <!-- whatspp -->
    <script src="{% static 'js/whatsapp/chat.js' %}"></script>
    <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'lib/tempusdominus/js/moment.min.js' %}"></script>
    <script src="{% static 'lib/tempusdominus/js/moment-timezone.min.js' %}"></script>
    <script src="{% static 'lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js' %}"></script>

    <!-- Contact Javascript File -->
    <script src="{% static 'mail/jqBootstrapValidation.min.js' %}"></script>
    <script src="https://kit.fontawesome.com/c959104830.js" crossorigin="anonymous"></script>

    <!-- Template Javascript -->
    <script src="{% static 'js/main.js' %}"></script>
</body>

</html>