{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	{%if title%}
	<title>Gavopum-{{title}}</title>
	{% else%}
	<title>Gavopum</title>
	{%endif%}

	<!-- favicon -->
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">

	<!-- Google Font -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400|Nunito:600,700" rel="stylesheet">
	<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
	<link href="{% static 'login/css/style.css' %}" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/a81368914c.js"></script>
</head>

<body>
	<img class="wave" src="https://cdn.gavofoods.co.ke/static/login/img/wave.png">
	<div class="container">
		<div class="img">
			<img src="https://cdn.gavofoods.co.ke/static/login/img/bg.svg">
		</div>
		<div class="login-content">
			<form method="POST" action="">
				{% csrf_token %}
				<img src="https://cdn.gavofoods.co.ke/static/login/img/avatar.svg">
				<h2 class="title">Welcome</h2>
				<div class="input-div one">
					<div class="i">
						<i class="fas fa-user"></i>
					</div>
					<div class="div">
						<h5>Username</h5>
						<input type="text" class="input" name="username">
					</div>
				</div>
				<div class="input-div pass">
					<div class="i">
						<i class="fas fa-lock"></i>
					</div>
					<div class="div">
						<h5>Password</h5>
						<input type="password" class="input" name="password">
					</div>
				</div>
				{% for message in messages %}
				<p class="{{ message.tags }}">{{message}}</p>
				{% endfor %}
				<span class="k"><a href="{% url 'signup' %}">Don't have an Account?</a></span>
				<span class="y"><a href="#">Forgot Password?</a></span>
				<input type="submit" class="btn" value="Login">
			</form>
		</div>
		<script type="text/javascript" src="{% static 'login/js/main.js' %}"></script>
</body>

</html>