{% load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="gluten-free, nutritious, coeliac diseases, diabetes, malnutrition, and bread" name="keywords">
    <meta content="food manufacturing company based in Uasin Gishu, Kenya that produces gluten-free flours and bread. Their products are gluten-free and highly nutritious, best for management of chronic diseases particularly coeliac diseases, diabetes and malnutrition" name="description">


    {%if title%}
    <title>Gavofoods-{{title}}</title>
    {% else%}
    <title>Gavofoods</title>
    {%endif%}

    <!-- favicon -->
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400|Nunito:600,700" rel="stylesheet">

    <!-- CSS Libraries -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
    <link href="{% static 'flaticon/font/flaticon.css' %}" rel="stylesheet">
    <link href="{% static 'lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css' %}" rel="stylesheet" />

    <!-- Template Stylesheet -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/about.css' %}" rel="stylesheet">
    <style>
        .partner-logos {
            display: flex;
            flex-wrap: wrap;
        }
        
        .partner-logos .order-1 {
            order: -1;
        }
        </style>
        
</head>

<body>
    <!-- Nav Bar Start -->
    <div class="navbar navbar-expand-lg bg-light navbar-light">
        <div class="container-fluid">
            <div id="logo" class="one_quarter first">
                <a href="{% url 'index-page' %}" class="navbar-brand"><img src="{{ cdn_url }}images/logogavo.webp"
                        alt="GavoFoods"></a>
                <!-- <p class="gfree">Nutritious & Gluten-free</p> -->
            </div>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                <div class="navbar-nav ml-auto">
                    <a href="{% url 'index-page' %}" class="nav-item nav-link">Home</a>
                    <div class="nav-item dropdown">
                      <a href="javascript:void(0)" class="nav-link dropdown-toggle" data-toggle="dropdown">About</a>
                      <div class="dropdown-menu">
                        <a href="{% url 'about' %}" class="dropdown-item">About Us</a>
                        <a href="{% url 'team' %}" class="dropdown-item">Our Team</a>
                      </div>
                    </div>
                    <!-- <div class="nav-item dropdown"> -->
                    <a href="https://shop.gavofoods.co.ke/shop" class="nav-item nav-link">Products</a>
                    <a href="{% url 'services' %}" class="nav-item nav-link active">Services</a>
                    <a href="{% url 'gallery' %}" class="nav-item nav-link">Gallery</a>
                    <a href="{% url 'careers' %}" class="nav-item nav-link">Careers</a>
                    <!-- class="nav-link dropdown-toggle" data-toggle="dropdown" -->
                    <!-- <div class="dropdown-menu">
                          <a
                            href="https://shop.gavofoods.co.ke/shop"
                            class="dropdown-item"
                            >Flours</a
                          >
                          <a href="{% url 'baked-products' %}" class="dropdown-item"
                            >Bread&Snacks</a
                          >
                        </div> -->
                    <!-- </div> -->
                    <!-- <a href="{% url 'team' %}" class="nav-item nav-link">Our Team</a> -->
                    <a href="{% url 'contact' %}" class="nav-item nav-link">Contact</a>
                    <a href="{% url 'blog' %}" class="nav-item nav-link">Blog</a>
                    <a href="https://shop.gavofoods.co.ke/cart/" class="nav-item nav-link"><i
                        class="fa-solid fa-bag-shopping fa-lg" style="color: #fdd700;"></i> Cart</a>
                    <!-- {% if user.is_authenticated %}
                              <a href="{% url 'logout' %}" class="nav-item nav-link">Logout</a>
                              {% else %}
                              <a href="{% url 'signup' %}" class="nav-item nav-link">Register</a>
                              <a href="{% url 'login' %}" class="nav-item nav-link">Login</a>
                              {% endif %} -->
                  </div>
            </div>
        </div>
    </div>
    <!-- Nav Bar End -->


    <!-- Page Header Start -->
    <div class="about-page-header mb-0">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2>Our Services</h2>
                </div>
                <div class="col-12">
                    <a href="{% url 'index-page' %}">Home</a>
                    <a href="{% url 'services' %}">Services</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Page Header End -->
    <div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <!-- 16:9 aspect ratio -->
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="" id="video" allowscriptaccess="always"
                            allow="autoplay"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- services start -->
    <div class="about">
      <div class="container">
        <div class="section-header text-center">
          <h2>Services</h2>
          <!-- <p>Featured Products</p> -->
        </div>
        <div class="row align-items-center">
          <div class="col-lg-6 mt-5">
            <div class="about-content">
              <div class="section-header">
                <h3 class="text-cente">1.	Diet Counseling</h3>
              </div>
              <div class="about-text">
                <p>We do Individualized nutritional counseling to provide the patient important insight into food-related illnesses and education regarding how various nutrients (protein, carbohydrate, fat, alcohol) affect illnesses or obesity. Alternatively, dietary counseling can assist in prevention of nutrition-related conditions such as the need for weight management. <br> Dietary counseling is tailored to meet the treatment needs of patients on diagnosis of specific illnesses, we help reduce complications and/or side effects, and to improve general well-being. Prevention at all levels: primary (preventing disease), secondary (early diagnosis), and tertiary (preventing or slowing deterioration) requires active patient participation and guidance and support from the dietician or physician. Education, motivation, and counseling are needed for effective patient participation. In addition to patient education, our dietary counseling includes meal planning</p>
              </div>
            </div>
          </div>
          <div class="col-lg-6 mt-5">
            <div class="about-img">
              <img src="{% static 'images/services/Diet Counseling.jpg' %}" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- service 2 start  -->
    <div id="about-us" class="about">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6">
            <div class="about-img">
              <img src="{% static 'images/services/Analytical Food Labs Consultancy.jpg' %}" alt="" />
              <!-- <button type="button" class="btn-play" data-toggle="modal"
                data-src="https://www.youtube.com/embed/x_j1bexhDSs" data-target="#videoModal">
                <span></span>
              </button> -->
            </div>
          </div>
          <div class="col-lg-6">
            <div class="about-content">
              <div class="section-header">
                <h3>2. Analytical Food Labs Consultancy</h3>
                <!-- <h2>About Us</h2> -->
              </div>
              <div class="about-text">
                <p>Food analysis looks at the sensory, chemical, microbiological and physical properties of food and drink, and is an important part of quality assurance, regulatory compliance and product development. Food analysis is required for a wide variety of reasons &#8209; from testing suitability for purpose, through checking shelf-life or authenticity, to assuring legal compliance. <br> Gavofoods will play a major role in providing assistance in areas of food nutrition, food quality & food safety testing to various food industry segments through routine chemical and microbiological tests. Consult our expertise on practical knowledge.</p>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>
    <!-- servce 3 start -->
    <div class="about">
      <div class="container">
        <!-- <div class="section-header text-center">
          <h2>Services</h2>
          <p>Featured Products</p>
        </div> -->
        <div class="row align-items-center">
          <div class="col-lg-6 mt-5">
            <div class="about-content">
              <div class="section-header">
                <h3 class="text-cente">3.	Food safety and hygiene</h3>
              </div>
              <div class="about-text">
                <p>According to WHO, Principles of Food Hygiene and Safety starts from production and ends in consumption. Anywhere in between, you may end up eating contaminated food. Really! Nobody wants that. I guess not you obviously! The principles of food hygiene and safety is going to change the way you see the food and handle it.
                  <br>
                  The best way to achieve food hygiene and safety in a food business is through food safety training and education. Food Handlers and operators must be trained in basic food safety concepts and practical skills. Consult our Expertise on this topic of Food Safety and Hygiene
                  </p>
              </div>
            </div>
          </div>
          <div class="col-lg-6 mt-5">
            <div class="about-img">
              <img src="{% static 'images/services/Food safety and hygiene.jpg' %}" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- services 4 start -->
    <div id="about-us" class="about">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6">
            <div class="about-img">
              <img src="{% static 'images/services/Therapeutic Nutrition Consultancy.jpg' %}" alt="" />
              <!-- <button type="button" class="btn-play" data-toggle="modal"
                data-src="https://www.youtube.com/embed/x_j1bexhDSs" data-target="#videoModal">
                <span></span>
              </button> -->
            </div>
          </div>
          <div class="col-lg-6">
            <div class="about-content">
              <div class="section-header">
                <h3>4. Therapeutic Nutrition Consultancy</h3>
                <!-- <h2>About Us</h2> -->
              </div>
              <div class="about-text">
                <p>GavoFoods  Nutritional Consulting and Therapy is working on personalized nutrition, designed specifically for individuals depending on their health status, physical activity and lifestyle which helps to prevent and provide support for medical treatment of chronic diseases with excellent interdisciplinary knowledge, skill and experience on Internal Medicine, Medical Biochemistry and Clinical Nutrition.</p>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>
    <!-- services 5 start -->
    <div class="about">
      <div class="container">
        <!-- <div class="section-header text-center">
          <h2>Services</h2>
          <p>Featured Products</p>
        </div> -->
        <div class="row align-items-center">
          <div class="col-lg-6 mt-5">
            <div class="about-content">
              <div class="section-header">
                <h3 class="text-cente">5.	Business Operations Mentorship/Coach</h3>
              </div>
              <div class="about-text">
                <p>Having gone through struggles and challenges in building our business venture from the scratch, we have gained entrepreneurship experience that we would like to give back to the community by mentoring others in their earlier stages of business. <br>
                  We are looking to forward partnering with organizations who are looking mentors. Book an appointment
                  </p>
              </div>
            </div>
          </div>
          <div class="col-lg-6 mt-5">
            <div class="about-img">
              <img src="{% static 'images/services/Business Operations MentorshipCoach.jpg' %}" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Footer Start -->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="row">
                        <div class="col-md-7">
                            <div class="footer-contact">
                                <h2>Our Address</h2>
                                <p><i class="fa fa-map-marker-alt"></i> Uasin Gishu, 30100, Kenya</p>
                                <!-- <a href="tel:254786338776"><p><i class="fa fa-phone-alt"></i> + 254 786 338 776</p></a> -->
                                    <a href="tel:+254702948854"><p><i class="fa fa-phone-alt"></i>+254 702 948 854</p></a>
                                    <a href="mailto:info@gavofoods.co.ke"><p><i class="fa fa-envelope"></i>info@gavofoods.co.ke</p></a>
                                    <div class="footer-social">
                                        <a href="https://twitter.com/Gavofoods" target="_blank"><i
                                                class="fab fa-twitter"></i></a>
                                        <a href="https://facebook.com/GavoFoods/"
                                            target="_blank"><i class="fab fa-facebook-f"></i></a>
                                        <!-- <a href=""><i class="fab fa-youtube"></i></a> -->
                                        <a href="https://www.instagram.com/gavo_foods/"><i class="fab fa-instagram"></i></a>
                                        <a href="https://www.linkedin.com/in/gavofoods-ltd-41594a244/"><i class="fab fa-linkedin-in"></i></a>
                                    </div>
                            </div>
                        </div>
                        <div class="footer-link">
                                <h2>Quick Links</h2>
                  <a href="https://shop.gavofoods.co.ke/shop">Shop</a>
                  <a href="{% url 'contact' %}">Contact</a>
                  <a href="{% url 'blog' %}">Blog</a>
                  <!-- <a href="">FQAs</a> -->
                            </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="footer-newsletter">
                        <h2>Newsletter</h2>
                        <p>
                            Subscribe to our weekly news letter about food and health nutrition information and offers.
                        </p>
                        <div class="form">
                            <input class="form-control" placeholder="Enter your email">
                            <button class="btn custom-btn">Submit</button>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="copyright">
            <div class="container">
                <p>Copyright &copy; <span id="copyright-year"></span> <a href="{% url 'index-page' %}">GavoFoods</a> |
                    All Rights Reserved.</p>
            </div>
        </div>
    </div>
    <!-- Footer End -->

    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

    <!-- year updater -->
    <script>
        document.querySelector("#copyright-year").innerText =
            new Date().getFullYear();
    </script>

    <!-- JavaScript Libraries -->
    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'lib/easing/easing.min.js' %}"></script>
    <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'lib/tempusdominus/js/moment.min.js' %}"></script>
    <script src="{% static 'lib/tempusdominus/js/moment-timezone.min.js' %}"></script>
    <script src="{% static 'lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js' %}"></script>

    <!-- Contact Javascript File -->
    <script src="{% static 'mail/jqBootstrapValidation.min.js' %}"></script>
    <script src="{% static 'mail/contact.js' %}"></script>

    <!-- Template Javascript -->
    <script src="{% static 'js/main.js' %}"></script>
    <!-- whatspp -->
    <script src="{% static 'js/whatsapp/chat.js' %}"></script>
    <script src="https://kit.fontawesome.com/c959104830.js" crossorigin="anonymous"></script>

</body>

</html>