{% load static %}
<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	{%if title%}
	<title>Gavopum-{{title}}</title>
	{% else%}
	<title>Gavopum</title>
	{%endif%}

	<!-- favicon -->
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">

	<!-- LINEARICONS -->
	<link href="{% static 'signup/fonts/linearicons/style.css' %}" rel="stylesheet">
	<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
	<link href="{% static 'css/mdb.min.css' %}" rel="stylesheet">
	<!-- STYLE CSS -->
	<link href="{% static 'signup/css/style.css' %}" rel="stylesheet">
</head>

<body>

	<div class="wrapper">
		<div class="inner">
			<img src="https://cdn.gavofoods.co.ke/static/signup/images/image-1.png" alt="" class="image-1">
			<form method="POST" action="">
				{% csrf_token %}
				<h3>Register</h3>
				<div class="form-holder">
					<span class="lnr lnr-user"></span>
					{{form.username}}
				</div>
				<div class="form-holder">
					<span class="lnr lnr-envelope"></span>
					{{form.email}}
				</div>
				<div class="form-holder">
					<span class="lnr lnr-user"></span>
					{{form.first_name}}
				</div>
				<div class="form-holder">
					<span class="lnr lnr-user"></span>
					{{form.last_name}}
				</div>
				<div class="form-holder">
					<span class="lnr lnr-lock"></span>
					{{form.password1}}
				</div>
				<div class="form-holder">
					<span class="lnr lnr-lock"></span>
					{{form.password2}}
				</div>
				<div class="custom-control custom-checkbox">
					<input type="checkbox" class="custom-control-input" id="defaultChecked2" checked>
					<label class="custom-control-label" for="defaultChecked2">Sign me up for news letters.</label>
				</div>
				{{form.errors}}
				<button>
					<span>Register</span>
				</button>
				<span class="k"><a href="{% url 'login' %}">Already registered?</a></span>
			</form>
			<img src="https://cdn.gavofoods.co.ke/static/signup/images/image-2.png" alt="" class="image-2">
		</div>

	</div>

	<script type="text/javascript" src="{% static 'signup/js/jquery-3.3.1.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'signup/js/main.js' %}"></script>
	<script>
		/* Vanilla Javascript for setting place holder values
		//We start indexing at one because CSRF_token is considered and input field 
		 */

		//Query All input fields
		var form_fields = document.getElementsByTagName('input')
		form_fields[1].placeholder = 'Choose a username..';
		form_fields[2].placeholder = 'Email..';
		form_fields[3].placeholder = 'First Name..';
		form_fields[4].placeholder = 'Last Name..';
		form_fields[5].placeholder = 'Enter password...';
		form_fields[6].placeholder = 'Re-enter Password...';


		for (var field in form_fields) {
			form_fields[field].className += ' form-control'
		}
	</script>
</body>

</html>