{% load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta
      content="gluten-free, nutritious, coeliac diseases, diabetes, malnutrition, and bread"
      name="keywords"
    />
    <meta
      content="food manufacturing company based in Uasin Gishu, Kenya that produces gluten-free flours and bread. Their products are gluten-free and highly nutritious, best for management of chronic diseases particularly coeliac diseases, diabetes and malnutrition"
      name="description"
    />

    {%if title%}
    <title>Gavofoods-{{title}}</title>
    {% else%}
    <title>Gavofoods</title>
    {%endif%}

    <!-- favicon -->
    <link
      rel="shortcut icon"
      href="{% static 'img/favicon.ico' %}"
      type="image/x-icon"
    />

    <!-- Google Font -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,400|Nunito:600,700"
      rel="stylesheet"
    />

    <!-- CSS Libraries -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
      rel="stylesheet"
    />
    <link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet" />
    <link
      href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}"
      rel="stylesheet"
    />
    <link href="{% static 'flaticon/font/flaticon.css' %}" rel="stylesheet" />
    <link
      href="{% static 'lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css' %}"
      rel="stylesheet"
    />

    <!-- Template Stylesheet -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
    <link href="{% static 'css/about.css' %}" rel="stylesheet" />
    <style>
      .partner-logos {
        display: flex;
        flex-wrap: wrap;
      }

      .partner-logos .order-1 {
        order: -1;
      }
    </style>
    <style>
      /* @import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap'); */

      /* body{
            min-height: 100vh;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          background: #f2f2f2;
      }
      h1{
        color: #1c68b3 ;
        font-size:clamp(2.5rem, 10vw, 5rem);
        font-family: 'Parisienne', cursive;
      } */
      .card-pink {
        border-radius: 6px;
        border-bottom: 4px solid #83b828 !important;
      }
      .card-blue {
        border-radius: 6px;
        border-bottom: 4px solid #750922 !important;
      }

      .col .card img {
        aspect-ratio: 1 / 1;
        object-fit: cover;
      }
      .card-body {
        padding: 1rem 1.5rem;
      }
      .card-body p {
        color: #4b5563;
      }
      .card-blue svg {
        fill: #750922;
      }
      .card-pink svg {
        fill: #83b828;
      }
      .card-blue .card-footer p {
        color: #750922;
      }
      .card-pink .card-footer p {
        color: #83b828;
      }
      .card-shape {
        position: relative;
      }
      .custom-shape-divider-bottom-1634717805 {
        position: absolute;
        bottom: -1px;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
        transform: rotate(180deg);
      }

      .custom-shape-divider-bottom-1634717805 svg {
        position: relative;
        display: block;
        width: 100%;
        height: 50px;
      }

      .custom-shape-divider-bottom-1634717805 .shape-fill {
        fill: #ffffff;
      }
    </style>
  </head>

  <body>
    <!-- Nav Bar Start -->
    <div class="navbar navbar-expand-lg bg-light navbar-light">
      <div class="container-fluid">
        <div id="logo" class="one_quarter first">
          <a href="{% url 'index-page' %}" class="navbar-brand"
            ><img src="{{ cdn_url }}images/logogavo.webp" alt="GavoFoods"
          /></a>
          <!-- <p class="gfree">Nutritious & Gluten-free</p> -->
        </div>
        <button
          type="button"
          class="navbar-toggler"
          data-toggle="collapse"
          data-target="#navbarCollapse"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div
          class="collapse navbar-collapse justify-content-between"
          id="navbarCollapse"
        >
          <div class="navbar-nav ml-auto">
            <a href="{% url 'index-page' %}" class="nav-item nav-link">Home</a>
            <div class="nav-item dropdown">
              <a
                href="javascript:void(0)"
                class="nav-link dropdown-toggle active"
                data-toggle="dropdown"
                >About</a
              >
              <div class="dropdown-menu">
                <a href="{% url 'about' %}" class="dropdown-item">About Us</a>
                <a href="{% url 'team' %}" class="dropdown-item active"
                  >Our Team</a
                >
              </div>
            </div>
            <!-- <div class="nav-item dropdown"> -->
            <a
              href="https://shop.gavofoods.co.ke/shop"
              class="nav-item nav-link"
              >Products</a
            >
            <a href="{% url 'services' %}" class="nav-item nav-link"
              >Services</a
            >
            <a href="{% url 'gallery' %}" class="nav-item nav-link">Gallery</a>
            <a href="{% url 'careers' %}" class="nav-item nav-link">Careers</a>
            <!-- class="nav-link dropdown-toggle" data-toggle="dropdown" -->
            <!-- <div class="dropdown-menu">
                <a
                  href="https://shop.gavofoods.co.ke/shop"
                  class="dropdown-item"
                  >Flours</a
                >
                <a href="{% url 'baked-products' %}" class="dropdown-item"
                  >Bread&Snacks</a
                >
              </div> -->
            <!-- </div> -->
            <!-- <a href="{% url 'team' %}" class="nav-item nav-link">Our Team</a> -->
            <a href="{% url 'contact' %}" class="nav-item nav-link">Contact</a>
            <a href="{% url 'blog' %}" class="nav-item nav-link">Blog</a>
            <a
              href="https://shop.gavofoods.co.ke/cart/"
              class="nav-item nav-link"
              ><i
                class="fa-solid fa-bag-shopping fa-lg"
                style="color: #fdd700"
              ></i>
              Cart</a
            >
            <!-- {% if user.is_authenticated %}
                    <a href="{% url 'logout' %}" class="nav-item nav-link">Logout</a>
                    {% else %}
                    <a href="{% url 'signup' %}" class="nav-item nav-link">Register</a>
                    <a href="{% url 'login' %}" class="nav-item nav-link">Login</a>
                    {% endif %} -->
          </div>
        </div>
      </div>
    </div>
    <!-- Nav Bar End -->

    <!-- Page Header Start -->
    <div class="about-page-header mb-0">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h2>Our Team</h2>
          </div>
          <div class="col-12">
            <a href="{% url 'index-page' %}">Home</a>
            <a href="{% url 'team' %}">Team</a>
          </div>
        </div>
      </div>
    </div>
    <!-- Page Header End -->

    <!-- About Start -->

    <!-- About End -->

    <!-- Team Start -->
    <div id="team" class="container py-5">
      <div class="row text-center">
        <div class="col-lg-12">
          <h2>Meet our team</h2>
        </div>
      </div>
      <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div
            class="card card-pink h-100 overflow-hidden shadow bg-white border-0 px-0"
          >
            <div class="card-shape">
              <img
                src="{% static 'images/Lilian.webp' %}"
                class="card-img-top"
                alt="Lilian Songok"
              />
              <div class="custom-shape-divider-bottom-1634717805">
                <svg
                  data-name="Layer 1"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 1200 120"
                  preserveAspectRatio="none"
                >
                  <path
                    d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z"
                    opacity=".25"
                    class="shape-fill"
                  ></path>
                  <path
                    d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z"
                    opacity=".5"
                    class="shape-fill"
                  ></path>
                  <path
                    d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z"
                    class="shape-fill"
                  ></path>
                </svg>
              </div>
            </div>
            <div class="card-body">
              <blockquote>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 475.082 475.081"
                  x="0px"
                  y="0px"
                  width="25px"
                  height="25px"
                  xmlns:xml="http://www.w3.org/XML/1998/namespace"
                  xml:space="preserve"
                  version="1.1"
                >
                  <g>
                    <g>
                      <path
                        d="M 164.45 219.27 h -63.954 c -7.614 0 -14.087 -2.664 -19.417 -7.994 c -5.327 -5.33 -7.994 -11.801 -7.994 -19.417 v -9.132 c 0 -20.177 7.139 -37.401 21.416 -51.678 c 14.276 -14.272 31.503 -21.411 51.678 -21.411 h 18.271 c 4.948 0 9.229 -1.809 12.847 -5.424 c 3.616 -3.617 5.424 -7.898 5.424 -12.847 V 54.819 c 0 -4.948 -1.809 -9.233 -5.424 -12.85 c -3.617 -3.612 -7.898 -5.424 -12.847 -5.424 h -18.271 c -19.797 0 -38.684 3.858 -56.673 11.563 c -17.987 7.71 -33.545 18.132 -46.68 31.267 c -13.134 13.129 -23.553 28.688 -31.262 46.677 C 3.855 144.039 0 162.931 0 182.726 v 200.991 c 0 15.235 5.327 28.171 15.986 38.834 c 10.66 10.657 23.606 15.985 38.832 15.985 h 109.639 c 15.225 0 28.167 -5.328 38.828 -15.985 c 10.657 -10.663 15.987 -23.599 15.987 -38.834 V 274.088 c 0 -15.232 -5.33 -28.168 -15.994 -38.832 C 192.622 224.6 179.675 219.27 164.45 219.27 Z"
                      />
                      <path
                        d="M 459.103 235.256 c -10.656 -10.656 -23.599 -15.986 -38.828 -15.986 h -63.953 c -7.61 0 -14.089 -2.664 -19.41 -7.994 c -5.332 -5.33 -7.994 -11.801 -7.994 -19.417 v -9.132 c 0 -20.177 7.139 -37.401 21.409 -51.678 c 14.271 -14.272 31.497 -21.411 51.682 -21.411 h 18.267 c 4.949 0 9.233 -1.809 12.848 -5.424 c 3.613 -3.617 5.428 -7.898 5.428 -12.847 V 54.819 c 0 -4.948 -1.814 -9.233 -5.428 -12.85 c -3.614 -3.612 -7.898 -5.424 -12.848 -5.424 h -18.267 c -19.808 0 -38.691 3.858 -56.685 11.563 c -17.984 7.71 -33.537 18.132 -46.672 31.267 c -13.135 13.129 -23.559 28.688 -31.265 46.677 c -7.707 17.987 -11.567 36.879 -11.567 56.674 v 200.991 c 0 15.235 5.332 28.171 15.988 38.834 c 10.657 10.657 23.6 15.985 38.828 15.985 h 109.633 c 15.229 0 28.171 -5.328 38.827 -15.985 c 10.664 -10.663 15.985 -23.599 15.985 -38.834 V 274.088 C 475.082 258.855 469.76 245.92 459.103 235.256 Z"
                      />
                    </g>
                  </g>
                </svg>
                <p class="font-italic mt-2 mb-6">
                  Lilian Songok (Cofounder) is an innovative entrepreneur,
                  she&#39;s a professional with both nutrition and food science
                  and food quality analysis. She has vast experience in
                  physic-chemical, descriptive sensory science and acceptability
                  of nutritional therapeutic healthy food diets, food handling
                  and safety, food security, and post-harvest losses. She so
                  passionate about healthy living lifestyles.
                </p>
              </blockquote>
            </div>
            <div class="card-footer">
              <p class="mb-0 font-weight-bolder">Lilian Songok</p>
              <small class="text-muted">Director - Nutrition Lead</small>
            </div>
          </div>
        </div>
        <div class="col">
          <div
            class="card card-blue h-100 overflow-hidden shadow bg-white border-0 px-0"
          >
            <div class="card-shape">
              <img
                src="{% static 'images/bitok.jpeg' %}"
                class="card-img-top"
                alt="Lyliane Bitok"
              />
              <div class="custom-shape-divider-bottom-1634717805">
                <svg
                  data-name="Layer 1"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 1200 120"
                  preserveAspectRatio="none"
                >
                  <path
                    d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z"
                    opacity=".25"
                    class="shape-fill"
                  ></path>
                  <path
                    d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z"
                    opacity=".5"
                    class="shape-fill"
                  ></path>
                  <path
                    d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z"
                    class="shape-fill"
                  ></path>
                </svg>
              </div>
            </div>
            <div class="card-body">
              <blockquote>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 475.082 475.081"
                  x="0px"
                  y="0px"
                  width="25px"
                  height="25px"
                  xmlns:xml="http://www.w3.org/XML/1998/namespace"
                  xml:space="preserve"
                  version="1.1"
                >
                  <g>
                    <g>
                      <path
                        d="M 164.45 219.27 h -63.954 c -7.614 0 -14.087 -2.664 -19.417 -7.994 c -5.327 -5.33 -7.994 -11.801 -7.994 -19.417 v -9.132 c 0 -20.177 7.139 -37.401 21.416 -51.678 c 14.276 -14.272 31.503 -21.411 51.678 -21.411 h 18.271 c 4.948 0 9.229 -1.809 12.847 -5.424 c 3.616 -3.617 5.424 -7.898 5.424 -12.847 V 54.819 c 0 -4.948 -1.809 -9.233 -5.424 -12.85 c -3.617 -3.612 -7.898 -5.424 -12.847 -5.424 h -18.271 c -19.797 0 -38.684 3.858 -56.673 11.563 c -17.987 7.71 -33.545 18.132 -46.68 31.267 c -13.134 13.129 -23.553 28.688 -31.262 46.677 C 3.855 144.039 0 162.931 0 182.726 v 200.991 c 0 15.235 5.327 28.171 15.986 38.834 c 10.66 10.657 23.606 15.985 38.832 15.985 h 109.639 c 15.225 0 28.167 -5.328 38.828 -15.985 c 10.657 -10.663 15.987 -23.599 15.987 -38.834 V 274.088 c 0 -15.232 -5.33 -28.168 -15.994 -38.832 C 192.622 224.6 179.675 219.27 164.45 219.27 Z"
                      />
                      <path
                        d="M 459.103 235.256 c -10.656 -10.656 -23.599 -15.986 -38.828 -15.986 h -63.953 c -7.61 0 -14.089 -2.664 -19.41 -7.994 c -5.332 -5.33 -7.994 -11.801 -7.994 -19.417 v -9.132 c 0 -20.177 7.139 -37.401 21.409 -51.678 c 14.271 -14.272 31.497 -21.411 51.682 -21.411 h 18.267 c 4.949 0 9.233 -1.809 12.848 -5.424 c 3.613 -3.617 5.428 -7.898 5.428 -12.847 V 54.819 c 0 -4.948 -1.814 -9.233 -5.428 -12.85 c -3.614 -3.612 -7.898 -5.424 -12.848 -5.424 h -18.267 c -19.808 0 -38.691 3.858 -56.685 11.563 c -17.984 7.71 -33.537 18.132 -46.672 31.267 c -13.135 13.129 -23.559 28.688 -31.265 46.677 c -7.707 17.987 -11.567 36.879 -11.567 56.674 v 200.991 c 0 15.235 5.332 28.171 15.988 38.834 c 10.657 10.657 23.6 15.985 38.828 15.985 h 109.633 c 15.229 0 28.171 -5.328 38.827 -15.985 c 10.664 -10.663 15.985 -23.599 15.985 -38.834 V 274.088 C 475.082 258.855 469.76 245.92 459.103 235.256 Z"
                      />
                    </g>
                  </g>
                </svg>
                <p class="font-italic mt-2 mb-6">
                  Lililan Bitok is a specialist in marketing and leadership. She
                  has over 9 years of experience in management, product
                  development and distribution in one of the leading insurance
                  companies in Kenya. She also has a vast knowledge in Web
                  Development and Digital Marketing. Apart from marketing, she
                  is also an ambitious, disciplined, focused leader.
                </p>
              </blockquote>
            </div>
            <div class="card-footer">
              <p class="mb-0 font-weight-bolder">Lilian Bitok</p>
              <small class="text-muted">Director - Marketing Lead</small>
            </div>
          </div>
        </div>
        <div class="col">
          <div
            class="card card-pink h-100 overflow-hidden shadow bg-white border-0 px-0"
          >
            <div class="card-shape">
              <img
                src="{% static 'images/juma.jpeg' %}"
                class="card-img-top"
                alt="Joan Juma"
              />
              <div class="custom-shape-divider-bottom-1634717805">
                <svg
                  data-name="Layer 1"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 1200 120"
                  preserveAspectRatio="none"
                >
                  <path
                    d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z"
                    opacity=".25"
                    class="shape-fill"
                  ></path>
                  <path
                    d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z"
                    opacity=".5"
                    class="shape-fill"
                  ></path>
                  <path
                    d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z"
                    class="shape-fill"
                  ></path>
                </svg>
              </div>
            </div>

            <div class="card-body">
              <blockquote>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 475.082 475.081"
                  x="0px"
                  y="0px"
                  width="25px"
                  height="25px"
                  xmlns:xml="http://www.w3.org/XML/1998/namespace"
                  xml:space="preserve"
                  version="1.1"
                >
                  <g>
                    <g>
                      <path
                        d="M 164.45 219.27 h -63.954 c -7.614 0 -14.087 -2.664 -19.417 -7.994 c -5.327 -5.33 -7.994 -11.801 -7.994 -19.417 v -9.132 c 0 -20.177 7.139 -37.401 21.416 -51.678 c 14.276 -14.272 31.503 -21.411 51.678 -21.411 h 18.271 c 4.948 0 9.229 -1.809 12.847 -5.424 c 3.616 -3.617 5.424 -7.898 5.424 -12.847 V 54.819 c 0 -4.948 -1.809 -9.233 -5.424 -12.85 c -3.617 -3.612 -7.898 -5.424 -12.847 -5.424 h -18.271 c -19.797 0 -38.684 3.858 -56.673 11.563 c -17.987 7.71 -33.545 18.132 -46.68 31.267 c -13.134 13.129 -23.553 28.688 -31.262 46.677 C 3.855 144.039 0 162.931 0 182.726 v 200.991 c 0 15.235 5.327 28.171 15.986 38.834 c 10.66 10.657 23.606 15.985 38.832 15.985 h 109.639 c 15.225 0 28.167 -5.328 38.828 -15.985 c 10.657 -10.663 15.987 -23.599 15.987 -38.834 V 274.088 c 0 -15.232 -5.33 -28.168 -15.994 -38.832 C 192.622 224.6 179.675 219.27 164.45 219.27 Z"
                      />
                      <path
                        d="M 459.103 235.256 c -10.656 -10.656 -23.599 -15.986 -38.828 -15.986 h -63.953 c -7.61 0 -14.089 -2.664 -19.41 -7.994 c -5.332 -5.33 -7.994 -11.801 -7.994 -19.417 v -9.132 c 0 -20.177 7.139 -37.401 21.409 -51.678 c 14.271 -14.272 31.497 -21.411 51.682 -21.411 h 18.267 c 4.949 0 9.233 -1.809 12.848 -5.424 c 3.613 -3.617 5.428 -7.898 5.428 -12.847 V 54.819 c 0 -4.948 -1.814 -9.233 -5.428 -12.85 c -3.614 -3.612 -7.898 -5.424 -12.848 -5.424 h -18.267 c -19.808 0 -38.691 3.858 -56.685 11.563 c -17.984 7.71 -33.537 18.132 -46.672 31.267 c -13.135 13.129 -23.559 28.688 -31.265 46.677 c -7.707 17.987 -11.567 36.879 -11.567 56.674 v 200.991 c 0 15.235 5.332 28.171 15.988 38.834 c 10.657 10.657 23.6 15.985 38.828 15.985 h 109.633 c 15.229 0 28.171 -5.328 38.827 -15.985 c 10.664 -10.663 15.985 -23.599 15.985 -38.834 V 274.088 C 475.082 258.855 469.76 245.92 459.103 235.256 Z"
                      />
                    </g>
                  </g>
                </svg>
                <p class="font-italic mt-2 mb-6">
                  A strategic and highly resourceful person whose main area of
                  expertise is customer service management, She&#39;s charged
                  with service delivery with a customer-focused approach of
                  solving issues. She has technical and creative knowledge in
                  communication and pay attention to details.
                </p>
              </blockquote>
            </div>
            <div class="card-footer">
              <p class="mb-0 font-weight-bolder">Joan Juma</p>
              <small class="text-muted">Customer Service</small>
            </div>
          </div>
        </div>
      </div>
      <div class="row row-cols-1 row-cols-md-3 g-4 mt-1">
        <div class="col">
          <div
            class="card card-blue h-100 overflow-hidden shadow bg-white border-0 px-0"
          >
            <div class="card-shape">
              <img
                src="{% static 'images/keny.jpeg' %}"
                class="card-img-top"
                alt="Amos Keny"
              />
              <div class="custom-shape-divider-bottom-1634717805">
                <svg
                  data-name="Layer 1"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 1200 120"
                  preserveAspectRatio="none"
                >
                  <path
                    d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z"
                    opacity=".25"
                    class="shape-fill"
                  ></path>
                  <path
                    d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z"
                    opacity=".5"
                    class="shape-fill"
                  ></path>
                  <path
                    d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z"
                    class="shape-fill"
                  ></path>
                </svg>
              </div>
            </div>
            <div class="card-body">
              <blockquote>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 475.082 475.081"
                  x="0px"
                  y="0px"
                  width="25px"
                  height="25px"
                  xmlns:xml="http://www.w3.org/XML/1998/namespace"
                  xml:space="preserve"
                  version="1.1"
                >
                  <g>
                    <g>
                      <path
                        d="M 164.45 219.27 h -63.954 c -7.614 0 -14.087 -2.664 -19.417 -7.994 c -5.327 -5.33 -7.994 -11.801 -7.994 -19.417 v -9.132 c 0 -20.177 7.139 -37.401 21.416 -51.678 c 14.276 -14.272 31.503 -21.411 51.678 -21.411 h 18.271 c 4.948 0 9.229 -1.809 12.847 -5.424 c 3.616 -3.617 5.424 -7.898 5.424 -12.847 V 54.819 c 0 -4.948 -1.809 -9.233 -5.424 -12.85 c -3.617 -3.612 -7.898 -5.424 -12.847 -5.424 h -18.271 c -19.797 0 -38.684 3.858 -56.673 11.563 c -17.987 7.71 -33.545 18.132 -46.68 31.267 c -13.134 13.129 -23.553 28.688 -31.262 46.677 C 3.855 144.039 0 162.931 0 182.726 v 200.991 c 0 15.235 5.327 28.171 15.986 38.834 c 10.66 10.657 23.606 15.985 38.832 15.985 h 109.639 c 15.225 0 28.167 -5.328 38.828 -15.985 c 10.657 -10.663 15.987 -23.599 15.987 -38.834 V 274.088 c 0 -15.232 -5.33 -28.168 -15.994 -38.832 C 192.622 224.6 179.675 219.27 164.45 219.27 Z"
                      />
                      <path
                        d="M 459.103 235.256 c -10.656 -10.656 -23.599 -15.986 -38.828 -15.986 h -63.953 c -7.61 0 -14.089 -2.664 -19.41 -7.994 c -5.332 -5.33 -7.994 -11.801 -7.994 -19.417 v -9.132 c 0 -20.177 7.139 -37.401 21.409 -51.678 c 14.271 -14.272 31.497 -21.411 51.682 -21.411 h 18.267 c 4.949 0 9.233 -1.809 12.848 -5.424 c 3.613 -3.617 5.428 -7.898 5.428 -12.847 V 54.819 c 0 -4.948 -1.814 -9.233 -5.428 -12.85 c -3.614 -3.612 -7.898 -5.424 -12.848 -5.424 h -18.267 c -19.808 0 -38.691 3.858 -56.685 11.563 c -17.984 7.71 -33.537 18.132 -46.672 31.267 c -13.135 13.129 -23.559 28.688 -31.265 46.677 c -7.707 17.987 -11.567 36.879 -11.567 56.674 v 200.991 c 0 15.235 5.332 28.171 15.988 38.834 c 10.657 10.657 23.6 15.985 38.828 15.985 h 109.633 c 15.229 0 28.171 -5.328 38.827 -15.985 c 10.664 -10.663 15.985 -23.599 15.985 -38.834 V 274.088 C 475.082 258.855 469.76 245.92 459.103 235.256 Z"
                      />
                    </g>
                  </g>
                </svg>
                <p class="font-italic mt-2 mb-6">
                  Having graduated with distinction in Food Science, Amos has
                  practical experience in food production methods. He&#39;s
                  responsible for overseeing production, monitoring the safety
                  of food processing that are efficient ensure the quantities
                  are well estimated and calculation of nutritional values and
                  ensure new manufacturing procedures are adopted. Has hands on
                  practical experience and he&#39;s solution oriented
                </p>
              </blockquote>
            </div>
            <div class="card-footer">
              <p class="mb-0 font-weight-bolder">Amos Keny</p>
              <small class="text-muted">Food Scientist</small>
            </div>
          </div>
        </div>
        <div class="col">
          <div
            class="card card-pink h-100 overflow-hidden shadow bg-white border-0 px-0"
          >
            <div class="card-shape">
              <img
                src="https://res.cloudinary.com/weknow-creators/image/upload/v1705844688/1676915958875_v6vp9q.jpg"
                class="card-img-top"
                alt="Mike Owino"
              />
              <div class="custom-shape-divider-bottom-1634717805">
                <svg
                  data-name="Layer 1"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 1200 120"
                  preserveAspectRatio="none"
                >
                  <path
                    d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z"
                    opacity=".25"
                    class="shape-fill"
                  ></path>
                  <path
                    d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z"
                    opacity=".5"
                    class="shape-fill"
                  ></path>
                  <path
                    d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z"
                    class="shape-fill"
                  ></path>
                </svg>
              </div>
            </div>
            <div class="card-body">
              <blockquote>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 475.082 475.081"
                  x="0px"
                  y="0px"
                  width="25px"
                  height="25px"
                  xmlns:xml="http://www.w3.org/XML/1998/namespace"
                  xml:space="preserve"
                  version="1.1"
                >
                  <g>
                    <g>
                      <path
                        d="M 164.45 219.27 h -63.954 c -7.614 0 -14.087 -2.664 -19.417 -7.994 c -5.327 -5.33 -7.994 -11.801 -7.994 -19.417 v -9.132 c 0 -20.177 7.139 -37.401 21.416 -51.678 c 14.276 -14.272 31.503 -21.411 51.678 -21.411 h 18.271 c 4.948 0 9.229 -1.809 12.847 -5.424 c 3.616 -3.617 5.424 -7.898 5.424 -12.847 V 54.819 c 0 -4.948 -1.809 -9.233 -5.424 -12.85 c -3.617 -3.612 -7.898 -5.424 -12.847 -5.424 h -18.271 c -19.797 0 -38.684 3.858 -56.673 11.563 c -17.987 7.71 -33.545 18.132 -46.68 31.267 c -13.134 13.129 -23.553 28.688 -31.262 46.677 C 3.855 144.039 0 162.931 0 182.726 v 200.991 c 0 15.235 5.327 28.171 15.986 38.834 c 10.66 10.657 23.606 15.985 38.832 15.985 h 109.639 c 15.225 0 28.167 -5.328 38.828 -15.985 c 10.657 -10.663 15.987 -23.599 15.987 -38.834 V 274.088 c 0 -15.232 -5.33 -28.168 -15.994 -38.832 C 192.622 224.6 179.675 219.27 164.45 219.27 Z"
                      />
                      <path
                        d="M 459.103 235.256 c -10.656 -10.656 -23.599 -15.986 -38.828 -15.986 h -63.953 c -7.61 0 -14.089 -2.664 -19.41 -7.994 c -5.332 -5.33 -7.994 -11.801 -7.994 -19.417 v -9.132 c 0 -20.177 7.139 -37.401 21.409 -51.678 c 14.271 -14.272 31.497 -21.411 51.682 -21.411 h 18.267 c 4.949 0 9.233 -1.809 12.848 -5.424 c 3.613 -3.617 5.428 -7.898 5.428 -12.847 V 54.819 c 0 -4.948 -1.814 -9.233 -5.428 -12.85 c -3.614 -3.612 -7.898 -5.424 -12.848 -5.424 h -18.267 c -19.808 0 -38.691 3.858 -56.685 11.563 c -17.984 7.71 -33.537 18.132 -46.672 31.267 c -13.135 13.129 -23.559 28.688 -31.265 46.677 c -7.707 17.987 -11.567 36.879 -11.567 56.674 v 200.991 c 0 15.235 5.332 28.171 15.988 38.834 c 10.657 10.657 23.6 15.985 38.828 15.985 h 109.633 c 15.229 0 28.171 -5.328 38.827 -15.985 c 10.664 -10.663 15.985 -23.599 15.985 -38.834 V 274.088 C 475.082 258.855 469.76 245.92 459.103 235.256 Z"
                      />
                    </g>
                  </g>
                </svg>
                <p class="font-italic mt-2 mb-6">
                  Mike Owino is a skilled website developer with expertise in
                  WordPress, React, Django, and e-commerce websites. With years
                  of experience in the field, Mike is proficient in designing
                  and developing websites that are responsive, user-friendly,
                  and visually appealing. Whether it's a simple blog or a
                  complex e-commerce platform, Mike has the skills and knowledge
                  to deliver exceptional results.
                </p>
              </blockquote>
            </div>
            <div class="card-footer">
              <p class="mb-0 font-weight-bolder">Mike Owino</p>
              <small class="text-muted"> Web Developer</small>
            </div>
          </div>
        </div>
        <!-- <div class="col">
            <div
              class="card card-blue h-100 overflow-hidden shadow bg-white border-0 px-0"
            >
              <div class="card-shape">
                <img
                  src="https://images.pexels.com/photos/3748221/pexels-photo-3748221.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                  class="card-img-top"
                  alt="Larry"
                />
                <div class="custom-shape-divider-bottom-1634717805">
                  <svg
                    data-name="Layer 1"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 1200 120"
                    preserveAspectRatio="none"
                  >
                    <path
                      d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z"
                      opacity=".25"
                      class="shape-fill"
                    ></path>
                    <path
                      d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z"
                      opacity=".5"
                      class="shape-fill"
                    ></path>
                    <path
                      d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z"
                      class="shape-fill"
                    ></path>
                  </svg>
                </div>
              </div>
  
              <div class="card-body">
                <blockquote>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 475.082 475.081"
                    x="0px"
                    y="0px"
                    width="25px"
                    height="25px"
                    xmlns:xml="http://www.w3.org/XML/1998/namespace"
                    xml:space="preserve"
                    version="1.1"
                  >
                    <g>
                      <g>
                        <path
                          d="M 164.45 219.27 h -63.954 c -7.614 0 -14.087 -2.664 -19.417 -7.994 c -5.327 -5.33 -7.994 -11.801 -7.994 -19.417 v -9.132 c 0 -20.177 7.139 -37.401 21.416 -51.678 c 14.276 -14.272 31.503 -21.411 51.678 -21.411 h 18.271 c 4.948 0 9.229 -1.809 12.847 -5.424 c 3.616 -3.617 5.424 -7.898 5.424 -12.847 V 54.819 c 0 -4.948 -1.809 -9.233 -5.424 -12.85 c -3.617 -3.612 -7.898 -5.424 -12.847 -5.424 h -18.271 c -19.797 0 -38.684 3.858 -56.673 11.563 c -17.987 7.71 -33.545 18.132 -46.68 31.267 c -13.134 13.129 -23.553 28.688 -31.262 46.677 C 3.855 144.039 0 162.931 0 182.726 v 200.991 c 0 15.235 5.327 28.171 15.986 38.834 c 10.66 10.657 23.606 15.985 38.832 15.985 h 109.639 c 15.225 0 28.167 -5.328 38.828 -15.985 c 10.657 -10.663 15.987 -23.599 15.987 -38.834 V 274.088 c 0 -15.232 -5.33 -28.168 -15.994 -38.832 C 192.622 224.6 179.675 219.27 164.45 219.27 Z"
                        />
                        <path
                          d="M 459.103 235.256 c -10.656 -10.656 -23.599 -15.986 -38.828 -15.986 h -63.953 c -7.61 0 -14.089 -2.664 -19.41 -7.994 c -5.332 -5.33 -7.994 -11.801 -7.994 -19.417 v -9.132 c 0 -20.177 7.139 -37.401 21.409 -51.678 c 14.271 -14.272 31.497 -21.411 51.682 -21.411 h 18.267 c 4.949 0 9.233 -1.809 12.848 -5.424 c 3.613 -3.617 5.428 -7.898 5.428 -12.847 V 54.819 c 0 -4.948 -1.814 -9.233 -5.428 -12.85 c -3.614 -3.612 -7.898 -5.424 -12.848 -5.424 h -18.267 c -19.808 0 -38.691 3.858 -56.685 11.563 c -17.984 7.71 -33.537 18.132 -46.672 31.267 c -13.135 13.129 -23.559 28.688 -31.265 46.677 c -7.707 17.987 -11.567 36.879 -11.567 56.674 v 200.991 c 0 15.235 5.332 28.171 15.988 38.834 c 10.657 10.657 23.6 15.985 38.828 15.985 h 109.633 c 15.229 0 28.171 -5.328 38.827 -15.985 c 10.664 -10.663 15.985 -23.599 15.985 -38.834 V 274.088 C 475.082 258.855 469.76 245.92 459.103 235.256 Z"
                        />
                      </g>
                    </g>
                  </svg>
                  <p class="font-italic mt-2 mb-6">
                    This card has supporting text below as a natural lead-in to
                    additional content.
                  </p>
                </blockquote>
              </div>
              <div class="card-footer">
                <p class="mb-0 font-weight-bolder">Larry</p>
                <small class="text-muted">Lead Developer</small>
              </div>
            </div>
          </div> -->
      </div>
    </div>

    <!-- Video Modal Start-->
    <div
      class="modal fade"
      id="videoModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
            <!-- 16:9 aspect ratio -->
            <div class="embed-responsive embed-responsive-16by9">
              <iframe
                class="embed-responsive-item"
                src=""
                id="video"
                allowscriptaccess="always"
                allow="autoplay"
              ></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Video Modal End -->

    <!-- Footer Start -->
    <div class="footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-5">
            <div class="row">
              <div class="col-md-7">
                <div class="footer-contact">
                  <h2>Our Address</h2>
                  <p>
                    <i class="fa fa-map-marker-alt"></i> Uasin Gishu, 30100,
                    Kenya
                  </p>
                  <!-- <a href="tel:254786338776"><p><i class="fa fa-phone-alt"></i> + 254 786 338 776</p></a> -->
                  <a href="tel:+254702948854"
                    ><p><i class="fa fa-phone-alt"></i>+254 702 948 854</p></a
                  >
                  <a href="mailto:info@gavofoods.co.ke"
                    ><p>
                      <i class="fa fa-envelope"></i>info@gavofoods.co.ke
                    </p></a
                  >
                  <div class="footer-social">
                    <a href="https://twitter.com/Gavofoods" target="_blank"
                      ><i class="fab fa-twitter"></i
                    ></a>
                    <a href="https://facebook.com/GavoFoods/" target="_blank"
                      ><i class="fab fa-facebook-f"></i
                    ></a>
                    <!-- <a href=""><i class="fab fa-youtube"></i></a> -->
                    <a href="https://www.instagram.com/gavo_foods/"
                      ><i class="fab fa-instagram"></i
                    ></a>
                    <a
                      href="https://www.linkedin.com/in/gavofoods-ltd-41594a244/"
                      ><i class="fab fa-linkedin-in"></i
                    ></a>
                  </div>
                </div>
              </div>
              <div class="footer-link">
                <h2>Quick Links</h2>
                <a href="https://shop.gavofoods.co.ke">Shop</a>
                <a href="{% url 'contact' %}">Contact</a>
                <a href="{% url 'blog' %}">Blog</a>
                <!-- <a href="">Help</a> -->
                <!-- <a href="">FQAs</a> -->
              </div>
            </div>
          </div>
          <div class="col-lg-5">
            <div class="footer-newsletter">
              <h2>Newsletter</h2>
              <p>
                Subscribe to our weekly news letter about food and health
                nutrition information and offers.
              </p>
              <div class="form">
                <input class="form-control" placeholder="Enter your email" />
                <button class="btn custom-btn">Submit</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="copyright">
        <div class="container">
          <p>
            Copyright &copy; <span id="copyright-year"></span>
            <a href="{% url 'index-page' %}">GavoFoods</a> | All Rights
            Reserved.
          </p>
        </div>
      </div>
    </div>
    <!-- Footer End -->

    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

    <!-- year updater -->
    <script>
      document.querySelector("#copyright-year").innerText =
        new Date().getFullYear();
    </script>

    <!-- JavaScript Libraries -->
    <script
      type="text/javascript"
      src="{% static 'js/jquery.min.js' %}"
    ></script>
    <script
      type="text/javascript"
      src="{% static 'js/bootstrap.min.js' %}"
    ></script>
    <script src="{% static 'lib/easing/easing.min.js' %}"></script>
    <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'lib/tempusdominus/js/moment.min.js' %}"></script>
    <script src="{% static 'lib/tempusdominus/js/moment-timezone.min.js' %}"></script>
    <script src="{% static 'lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js' %}"></script>

    <!-- Contact Javascript File -->
    <script src="{% static 'mail/jqBootstrapValidation.min.js' %}"></script>
    <script src="{% static 'mail/contact.js' %}"></script>

    <!-- Template Javascript -->
    <script src="{% static 'js/main.js' %}"></script>
    <!-- whatspp -->
    <script src="{% static 'js/whatsapp/chat.js' %}"></script>
    <script
      src="https://kit.fontawesome.com/c959104830.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
